@media (min-width: 1000px) {
    .validation-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
        grid-gap: 30px;
        gap: 30px;

    }

    .img-side {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .info-side {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}
/*.validation-form{*/
/*    display: flex;*/
/*}*/
@media (max-width: 999px) {
    /*세로로 어떻게 바꾸지? 플랙스 랩*/
    .page {
        /*display: grid;*/
        /*grid-template-columns: 1fr 1.5fr;*/
        /*grid-gap: 30px;*/
        /*gap: 30px;*/
        display: flex;
        flex-wrap: wrap;
    }

    /*.img-side {*/
    /*    grid-column: 1 / 2;*/
    /*    grid-row: 1 / 2;*/
    /*}*/

    /*.info-side {*/
    /*    grid-column: 2 / 3;*/
    /*    grid-row: 1 / 2;*/
    /*}*/
}

.keywordItem {
    margin-top: 20px;
}

.photoFrame {
    height: 280px;
    text-align: center;
}

.keyword {
    display: flex;
}

.button-box {
    display: flex;
    justify-content: flex-end;
    margin: auto;

}

.file-append-box {
    padding-top: 10px;
    height: fit-content;
    width: fit-content !important;
    margin-left: auto;
    padding-right: 20px;
}

img {
    /*background: rgb(225, 198, 24);*/
    border-radius: 20px;
    margin: auto;
    display: block;
}

.img {
    /*width: fit-content;*/
    height: 300px;
    background-color: rgba(224, 222, 222, 0.63);
    border-radius: 8%;
    width: 600px;
    margin: auto;
}
#keywordList{
    margin-bottom: 20px;
}
.newKeyword {
    display: flex;
    flex-wrap: wrap;
}

.input-group {
    border-top: 0px !important;
}

.btn {
    /*margin: inherit;*/
}

.page {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

/*.page{
    padding-right: 20px;
    padding-left: 20px;
}*/
th {
    white-space: nowrap;
}

#button-addon2 {
    width: 130px;
}

#inputKeyword {
    height: 50px;
    border-radius: 10px 0px 0px 10px;
}

.keywordButton {
    padding: 5px 20px;
}

.badge {
    margin: 0px !important;
    /*position: absolute !important;*/
}

.img-side {
    border: #b6b6b6 2px solid;
    padding: 30px;
}
.info-side{
    border: #b6b6b6 2px solid;
    padding: 30px;
}
