/* card list */
.card-list {
	cursor: pointer;
}

.card-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.card-image {
    height: 0;
    padding-bottom: 60%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-image img {
    display: none;
}

.card-desc {
    flex: 1 1 auto;
    padding: 1em;
    background: white;
}

@media (min-width: 600px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    .card-item {
        width: 50%;
        padding: 0 1rem;
    }
}

@media (min-width: 1200px) {
    .card-item {
        width: 33.33333%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.search-form {
    width: 300px;
    max-width: 60%;
    margin-right: 2.5rem;
}


.primary {
    /*margin-right: 4%;*/
}

.footer {
    padding: 1rem;
    border-top: 1px solid lightgray;
    text-align: center;
}

.btn {
    float: right;
}

.search {
    width: 50%;
    margin: auto;
    padding-top: 30px;
    /*height: 80%;*/
    padding-bottom: 60px;
}
.new-button{
    /*margin-top: 30px;*/
}
#goodsBox{
    padding: inherit;
    margin: 30px;
}

ul{
    padding: 0px !important;
    justify-content: center;
}
