<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.cms.inqry.dao.ICmsInqryRepository">

	<select id="selectCmsInqryList" resultType="com.example.myapp.cms.inqry.model.CmsInqry">
		<![CDATA[
			SELECT
			    b.inqry_id,
			    b.inqry_ref_id,
			    b.inqry_group_ord,
			    b.inqry_title,
			    b.inqry_cntnt,
			    b.inqry_pwd,
			    b.inqry_regist_date,
			    b.inqry_update_date,
			    b.inqry_delete_yn,
			    b.inqry_mber_id,
			    a.rn
			FROM (
			    select rownum rn,
			        inqry_id,
			        inqry_ref_id,
			        inqry_group_ord,
			        inqry_title,
			        inqry_cntnt,
			        inqry_pwd,
			        inqry_regist_date,
			        inqry_update_date,
			        inqry_delete_yn,
			        inqry_mber_id
			    from 
			        (select tb_inqry.*
			        from tb_inqry
			        where inqry_group_ord = 0
			        order by inqry_id desc
			        )
			) A
			INNER JOIN tb_inqry B on A.inqry_id = B.inqry_ref_id
			WHERE rn BETWEEN #{start} AND #{end}
			AND a.inqry_delete_yn = 'N'
			ORDER BY b.inqry_ref_id desc, b.inqry_group_ord
		]]>		
	</select>
	
	<select id="selectUnansInqryList" resultType="com.example.myapp.cms.inqry.model.CmsInqry">
		<![CDATA[
			SELECT
			    b.inqry_id,
			    b.inqry_ref_id,
			    b.inqry_group_ord,
			    b.inqry_title,
			    b.inqry_cntnt,
			    b.inqry_pwd,
			    b.inqry_regist_date,
			    b.inqry_update_date,
			    b.inqry_delete_yn,
			    b.inqry_mber_id,
			    a.rn
			FROM (
			        select rownum rn,
			            inqry_id,
			            inqry_ref_id,
			            inqry_group_ord,
			            inqry_title,
			            inqry_cntnt,
			            inqry_pwd,
			            inqry_regist_date,
			            inqry_update_date,
			            inqry_delete_yn,
			            inqry_mber_id
			        from 
			            (SELECT i.*
			            FROM tb_inqry i
			            JOIN tb_mber m ON i.inqry_mber_id = m.mber_id
			            WHERE i.inqry_id IN (
			                SELECT inqry_ref_id
			                FROM tb_inqry
			                GROUP BY inqry_ref_id
			                HAVING COUNT(*) < 2
			            )
			            ORDER BY inqry_id DESC
			    ) 
			) A
			INNER JOIN tb_inqry B on A.inqry_id = B.inqry_ref_id
			WHERE rn BETWEEN #{start} AND #{end}
			AND a.inqry_delete_yn = 'N'
			ORDER BY b.inqry_ref_id desc, b.inqry_group_ord
		]]>
	</select>
	
	<select id="selectCmsInqry" parameterType="int" resultType="com.example.myapp.cms.inqry.model.CmsInqry">
		<![CDATA[
			SELECT
				inqry_id,
				inqry_ref_id,
				inqry_group_ord,
				inqry_title,
				inqry_cntnt,
				inqry_pwd,
				inqry_regist_date,
				inqry_update_date,
				inqry_delete_yn,
				inqry_mber_id
			FROM tb_inqry
			WHERE inqry_id = #{inqryId}
		]]>
	</select>
	
		<select id="selectRecentInqry"
		resultType="com.example.myapp.cms.inqry.model.CmsInqry">
	<![CDATA[
			SELECT *
			FROM (
			    SELECT i.*
			    FROM tb_inqry i
			    JOIN tb_mber m ON i.inqry_mber_id = m.mber_id
			    WHERE i.inqry_id IN (
			        SELECT inqry_ref_id
			        FROM tb_inqry
			        GROUP BY inqry_ref_id
			        HAVING COUNT(*) < 2
			    ) 
			    AND m.MBER_ROLE_CODE <> 'C0402'
			    ORDER BY i.inqry_id DESC, i.inqry_regist_date DESC
			)
			WHERE ROWNUM <= 5
	        ]]>
	</select>
	
	<insert id="writeCmsInqry" parameterType="com.example.myapp.cms.inqry.model.CmsInqry">
		<![CDATA[
			INSERT INTO tb_inqry
        		(inqry_id, inqry_ref_id, inqry_group_ord, inqry_title, inqry_cntnt, inqry_pwd, inqry_regist_date, inqry_update_date, inqry_delete_yn, inqry_mber_id)
	        VALUES 
	        	(inqry_seq.nextval, #{inqryRefId}, 1, #{inqryTitle}, #{inqryCntnt}, #{inqryPwd}, to_char(sysdate, 'yyyy.mm.dd hh24:mi'), null, 'N', #{inqryMberId})
		]]>
	</insert>
	
	<select id="countInqry" parameterType="int">
		<![CDATA[
			SELECT count(*) 
			FROM tb_inqry 
			WHERE inqry_ref_id = #{inqryRefId}
		]]>
	</select>
	
	<select id="countAns" resultType="int">
		<![CDATA[
			SELECT
			    count(*)
			FROM (
			        select rownum rn,
			            inqry_id,
			            inqry_ref_id,
			            inqry_group_ord,
			            inqry_title,
			            inqry_cntnt,
			            inqry_pwd,
			            inqry_regist_date,
			            inqry_update_date,
			            inqry_delete_yn,
			            inqry_mber_id
			        from 
			            (SELECT i.*
			            FROM tb_inqry i
			            JOIN tb_mber m ON i.inqry_mber_id = m.mber_id
			            WHERE i.inqry_id IN (
			                SELECT inqry_ref_id
			                FROM tb_inqry
			                GROUP BY inqry_ref_id
			                HAVING COUNT(*) < 2
			            )
			            ORDER BY inqry_id DESC
			    ) 
			) A
			INNER JOIN tb_inqry B on A.inqry_id = B.inqry_ref_id
			AND a.inqry_delete_yn = 'N'
			]]>
	</select>
	
	<update id="updateCmsInqry" parameterType="com.example.myapp.cms.inqry.model.CmsInqry">
		<![CDATA[
			UPDATE tb_inqry
	        SET inqry_cntnt       = #{inqryCntnt},
	            inqry_update_date = to_char(sysdate, 'yyyy.mm.dd hh24:mi')
	        WHERE inqry_id = #{inqryId}
		]]>
	</update>
	
	<delete id="deleteCmsInqry" parameterType="com.example.myapp.cms.inqry.model.CmsInqry">
		<![CDATA[
			DELETE FROM tb_inqry
			WHERE inqry_id = #{inqryId}
		]]>
	</delete>
	
	<select id="getCmsInqry" parameterType="int">
		<![CDATA[
			SELECT inqry_cntnt 
			FROM tb_inqry 
			WHERE inqry_id=#{inqryRefId}
		]]>
	</select>
</mapper>