<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.inqry.dao.IInqryRepository">

	<select id="selectInqryList" resultType="com.example.myapp.inqry.model.Inqry">
		<![CDATA[
			SELECT
			    inqry_id as "inqryId",
			    inqry_title as "inqryTitle",
			    inqry_pwd as "inqryPwd",
			    inqry_regist_date as "inqryRegistDate",
			    inqry_mber_id as "inqryMberId"    
			FROM tb_inqry
			ORDER BY inqry_ref_id desc, inqry_group_ord
		]]>
	</select>

</mapper>