<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
</head>
<body>
	<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>
	<div class="container mt-5">
		<div class="row justify-content-center mb-5">
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-header">
						<i class="fa fa-bar-chart"></i> 전체 회원 수
					</div>
					<div class="card-body">
						<canvas id="signupChart" width="200" height="200"></canvas>
					</div>
					<div class="card-footer small text-muted" th:text="'Updated ' + ${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">Updated yesterday
						at 11:59 PM</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-header">
						<i class="fa fa-pie-chart"></i> 회원 성별 통계
					</div>
					<div class="card-body">
						<canvas id="genderChart" width="200" height="200"></canvas>
					</div>
					<div class="card-footer small text-muted" th:text="'Updated ' + ${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">Updated yesterday
						at 11:59 PM</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mb-5">
			<div class="col-md-12">
				<h4 class="fw-bold">고객센터 미답변 문의글</h4>
				<p class="h6">※고객센터 미답변 문의글은 최근글 5개까지만 표시됩니다. 이외의 글은 문의사항에서
					확인해주세요.</p>
				<table class="board-table" id="inqry-table">
					<thead>
						<tr>
							<th scope="col" class="th-num">번호</th>
							<th scope="col" class="th-title">제목</th>
							<th scope="col" class="th-date">등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="inqry : ${inqryList}">
							<td>[[${inqry.inqryId}]]</td>
							<th><a th:href="@{/cs/inqry (inqryId=${inqry.inqryId})}">[[${inqry.inqryTitle}]]</a></th>
							<td>[[${inqry.inqryRegistDate}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row justify-content-center mb-5">
			<div class="col-md-12">
				<h4 class="fw-bold">최근 공지사항 글</h4>
				<p class="h6">※공지사항은 최근글 5개까지만 표시됩니다. 이외의 글은 문의사항에서 확인해주세요.</p>
				<table class="board-table" id="notice-table">
					<thead>
						<tr>
							<th scope="col" class="th-num">번호</th>
							<th scope="col" class="th-title">제목</th>
							<th scope="col" class="th-date">등록일</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
	
		$(document).ready(function() {
			loadGenderChart();
			loadsignupChart();
			loadNoticeData();
		});
  

    function createChart(labels, counts) {
        const ctx = document.getElementById('genderChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: counts,
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                        // 여기에 더 많은 색상 추가 가능
                    ],
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    }
    
    function createLineChart(labels, data) {
        var ctx = document.getElementById('signupChart').getContext('2d');
        var signupChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '일자별 가입자 회원 수 통계',
                    data: data,
                    borderColor: '#14dbc8',
                    borderWidth: 2,
                    fill: true
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],
                    y: [{
                        beginAtZero: true,
                        stepSize: 1,
                        min: 0
                    }]
                }
            }
        });
    }

     function loadGenderChart() {
		    $.ajax({
		        url: '/cs/mber/gender-stat',
		        method: 'GET',
		        dataType: 'json',
		        success: function (data) {
		        	console.log(data);
		            const labels = data.map(item => item.GENDER);
		            const counts = data.map(item => item.COUNT);
		            createChart(labels, counts);
		        },
		        error: function (error) {
		        	console.log('에러 발생: ', error);
		        }
		    });
	  }
    
     function loadsignupChart() {
		    $.ajax({
		        url: '/cs/mber/signup-stat',
		        method: 'GET',
		        dataType: 'json',
		        success: function (data) {
		        	console.log(data);
		            const labels = data.map(item => item.SIGNUP_DATE);
		            const counts = data.map(item => item.SIGNUP_COUNT);
		            createLineChart(labels, counts);
		        },
		        error: function (error) {
		        	console.log('에러 발생: ', error);
		        }
		    });
	  }
     
		function loadNoticeData() {
			$.ajax({
				type : 'GET',
				url : '/cs/recent-notice',
				dataType : 'json',
				success : function(data) {
					// 회원 정보를 표시할 HTML을 생성
					var html = '';
					data.forEach(function(commu) {
						html += '<tr>';
						html += '<td>' + commu.commuId + '</td>';
						  html += '<th><a href="/cs/commu/detail/' + commu.commuId + '">' + commu.commuTitle + '</a></th>';
						html += '<td>' + commu.commuRegistDate + '</td>';

						html += '</tr>';
					});
					// 최근공지사항 리스트 테이블 업데이트
					$('#notice-table tbody').html(html);

				},
				error : function() {
					alert('최근 공지사항를 불러오는데 실패했습니다.');
				}
			});
		}
		
	</script>
</body>
</html>