<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.myapp.user.commu.dao.ICommuRepository">

	<select id="selectAllPost"
		resultType="com.example.myapp.user.commu.model.Commu">
<![CDATA[
	select commu_id AS "commuId",
		   commu_title AS "commuTitle",
			commu_regist_date AS "commuRegistDate",
			commu_update_date AS "commuUpdateDate",
			commu_read_cnt AS "commuReadCnt",
			commu_mber_id AS "commuMberId"
			from tb_commu
]]>
	</select>

	<select id="selectPost" parameterType="int"
		resultType="com.example.myapp.user.commu.model.Commu">
<![CDATA[
    SELECT 
        tb_commu.commu_id AS "commuId",
        commu_title AS "commuTitle",
        commu_cntnt AS "commuCntnt",
        commu_regist_date AS "commuRegistDate",
        commu_update_date AS "commuUpdateDate", 
        commu_read_cnt AS "commuReadCnt",
        commu_ref_id AS "commuRefId",
       	commu_depth AS "commuDepth",
        commu_order AS "commuOrder",
        commu_cate_code AS "commuCateCode",
        commu_mber_id AS "commuMberId",
        tb_commu_file.commu_file_id AS "commuFileId",
        tb_commu_file.commu_file_name AS "commuFileName",
        tb_commu_file.commu_file_size AS "commuFileSize",
        tb_commu_file.commu_file_ext AS "commuFileExt",
        tb_commu_file.commu_file_path AS "commuFilePath",
        tb_commu_file.commu_file_regist_date AS "commuFileRegistDate",
        tb_commu_file.commu_file_update_date AS "commuFileUpdateDate",
        tb_commu_file.commu_file_commu_id AS "commuFileCommuId"
    FROM
        tb_commu
    LEFT OUTER JOIN tb_commu_file
     	ON tb_commu.commu_id=tb_commu_file.commu_file_commu_id
     WHERE tb_commu.commu_id=#{commuId}
]]>
	</select>

	<update id="updateReadCnt" parameterType="int">
	<![CDATA[
		UPDATE tb_commu 
			SET commu_read_cnt = commu_read_cnt+1 
		WHERE commu_id=#{commuId}
	]]>
	</update>


	<select id="selectMaxPost" resultType="int">
	<![CDATA[
		SELECT NVL(MAX(commu_file_commu_id),0) AS "commuFileCommuId" 
		FROM tb_commu_file
	]]>
	</select>

	<insert id="insertPost"
		parameterType="com.example.myapp.user.commu.model.Commu">
	<![CDATA[
		INSERT INTO tb_commu
			(commu_id, commu_title, commu_cntnt,commu_cate_code, commu_regist_date, commu_mber_id)
		VALUES
			(#{commuId}, #{commuTitle}, #{commuCntnt}, #{commuCateCode}, #{commu_regist_date}, #{commuMberId})
			]]>
	</insert>

	<insert id="insertFileData"
		parameterType="com.example.myapp.user.commu.model.CommuFile">
		<![CDATA[
		INSERT INTO tb_commu_file
		(commu_file_id, commu_file_name, commu_file_size, commu_file_ext, commu_file_path, commu_file_commu commu_file_commu_id)
		VALUES
			(#{commuFileId}, #{commuFileName}, #{commuFileSize}, #{commuFileExt}, #{commuFilePath}, #{commuFileCommuId})
			]]>
	</insert>


	<select id="getFile" parameterType="int"
		resultType="com.example.myapp.user.commu.model.CommuFile">
	<![CDATA[
		SELECT
		commu_file_id AS "commuFileId",
		commu_file_name AS "commuFileName",
		commu_file_size AS "commuFileSize",
		commu_file_ext AS "commuFileExt",
		commu_file_path AS "commuFilePath",
		commu_file_regist_date AS "commuFileRegistDate",
		commu_file_update_date AS "commuFileUpdateDate",
		commu_file_delete_yn AS "commuFileDeleteYn",
		commu_file_commu_id AS "commuFileCommuId"
		FROM tb_commu_file
		WHERE commu_file_id=#{commuFileId}
	]]>
	</select>

	<update id="updatePost"
		parameterType="com.example.myapp.user.commu.model.Commu">
<![CDATA[
update tb_commu
set commu_id=#{commuId}, commu_title=#{commuTitle}, commu_cntnt=#{commuCntnt}, commu_regist_date=SYSDATE, commu_cate_code=#{commuCateCode}, commu_mber_id=#{commuMberId)
where commu_id=#{commuId}
	]]>
	</update>

	<update id="updateFiledata"
		parameterType="com.example.myapp.user.commu.model.CommuFile">
	<![CDATA[
	update tb_commu_file
	set
		commu_file_id=#{commuFileId}, commu_file_name=#{commuFileName}, commu_file_size=#{commuFileSize}, commu_file_ext=#{commuFileExt}, commu_file_path=#{commuFilePath}, commu_file_commu_id=#{commuFileCommuId}
		where commu_file_id = #{commuFileId}

	]]>
	</update>
</mapper>
