<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
<link rel="stylesheet" th:href="@{/css/commu/commuView.css}">
<link rel="stylesheet" href="/css/common.css">
</head>
<body>

	<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>
	<div class="container mb-3">
		<div class="commu-no menu fw-bold">
			<!-- 일반 카테고리 출력 -->
			<span th:each="code : ${commuCateCodeList}"
				th:if="${code.commonCode} == ${commu.commuCateCode}"
				th:text="${code.commonCodeDscr}">카테고리명</span>

			<!-- commu.commuCateCode가 "C06"일 때만 NOTICE 출력 -->
			<span th:if="${commu.commuCateCode} == 'C06'" th:text="'공지사항'"></span>
		</div>

		<div class="commu-header d-flex justify-content-between fw-bold">
			<div class="title">[[${commu.commuTitle}]]</div>
		</div>
		<div class="info-container">
			<div class="username">[[${commu.commuMberId}]]</div>
			<span class="separator">|</span>
			<div class="registdate">[[${commu.commuRegistDate}]]</div>
			<div class="readcnt">조회 [[${commu.commuReadCnt}]]</div>
		</div>

		<div class="separator"></div>

		<div class="detail-cntnt">
			<div th:each="file : ${commuFiles}" class="text-center img-div">
				<img th:src="@{'/' + ${file.commuFilePath}}"
					alt="파일을 다운받는데 실패하였습니다.">
			</div>
			<div class="commu-cntnt text-start cntnt-div">
				<div class="cntnt">[[${commu.commuCntnt}]]</div>
			</div>
		</div>

		<div class="d-flex btn-div" id="buttons">
			<a th:href="@{/cs/commu/1(commonCodeDscr ='전체')}"
				class="list-link btn">목록</a>
			<div class="btns">
				<div
					th:if="${#authentication.principal.username} == ${commu.commuMberId}">
					<a
						th:href="@{/cs/commu/update/{commuCateCode}/{commuId}(commuCateCode=${commu.commuCateCode}, commuId=${commu.commuId})}"
						class="btn me-2">수정</a>
					<form
						th:action="@{/cs/commu/deletepost/{commuId}(commuId=${commu.commuId})}"
						method="post">
						<input type="hidden" name="commuId" th:value="${commu.commuId}">
						<button type="button" class="btn delete"
							onclick="showDeleteConfirmModal()">삭제</button>
					</form>
				</div>

				<form
					th:if="${#authentication.principal.username} != ${commu.commuMberId}"
					th:action="@{/commu/report/{commuId}(commuId=${commu.commuId})}"
					method="post">
					<button type="button" id="report" class="btn report"
						th:if="${commu.commuCateCode != 'C06'}"
						onclick="showReportConfirmModal()">신고하기</button>
				</form>
			</div>
		</div>
			<input type="hidden" id="commuId" name="commuId"
		th:value="${commu.commuId}">
		<div id="comment-Box"></div>
	</div>
	<script th:src="@{/js/commu/view.js}"></script>
</body>
</html>