<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
<link rel="stylesheet" th:href="@{/css/commu/commuWrite.css}">
</head>
<body class="admin-page">
	<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>

	<div class="container">
		<div class="menu fw-bold">공지사항 글쓰기</div>
		<form th:action="@{/cs/commu/write/${commu.commuCateCode}}"
			method="post" enctype="multipart/form-data"
			onsubmit="return validateForm()">
			<input type="hidden" name="csrfToken" id="csrfToken"
				th:value="${session.csrfToken}">
			<ul class=tb-lst>
				<li class="admin-row">
					<div class="commu-label">
						<label for="category">카테고리 <span class="required">*</span></label>
					</div>
					<div class="commu-category">
						<select id="category" name="commuCateCode">
							<option th:each="cms : ${commonCodeList}"
								th:if="${cms != null && cms.commonCodeVal != 'All'}"
								th:value="${cms.commonCode}" th:text="${cms.commonCodeDscr}"
								th:selected="${cms.commonCodeVal == 'NOTICE'}">카테고리명</option>
						</select>
					</div>
				</li>
				<li class="tit-row">
					<div class="commu-label">
						<label for="title">제목 <span class="required">*</span></label>
					</div>
					<div class="commu-title">

						<input type="text" id="title" name="commuTitle"
							placeholder="제목을 입력하세요.">
					</div>
				</li>

				<div class="commu-cntnt" >
					<textarea class="summernote"  id="cntnt" name="commuCntnt"  maxlength="2000"></textarea>
				</div>

				<li class="tit-row">
					<div class="commu-label">
						<label for="attachment">첨부파일</label>
					</div>
					<div class="commu-File">
						<label class="file-label" id="fileSelectButton" for="attachment">파일
							선택</label> <input type="file" id="attachment" name="commuUploadFiles"
							multiple onchange="appendFileList()" style="display: none;">
						<ul id="fileList"></ul>
					</div>

				</li>
			</ul>

			<div class="d-flex justify-content-center">
				<input type="hidden" name="commuMberId"
					th:value="${#authentication.principal.username}"
					sec:authorize="isAuthenticated()"> <a
					th:href="@{/cs/commu/1(commonCodeDscr ='전체')}"
					class="btn me-2 cancel-btn" data-action="cancel">취소</a> <input
					type="submit" class="btn commuBtn" data-action="confirm" value="등록">
			</div>
		</form>
	</div>
	<script th:src="@{/js/commu/write.js}"></script>
</body>
</html>
