<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{/include/header :: header}"></div>
	<link rel="stylesheet" th:href="@{/common.css}">
	<link rel="stylesheet" th:href="@{/css/inqury/inquryWrite.css}">
</head>
<body>
	<div class="container">
		<div class="menu fw-bold">문의사항 글 생성</div>
		<form action="" class="inqry-form">
			<ul class=tb-lst>
				<li class="tit-row">
					<div class="inqry-label">
						<label for="title">제목</label>
					</div>
					<div class="inqry-cntnt">
						<input type="text" id="title" name="inqryTitle" placeholder="제목을 입력하세요.">
					</div>
				</li>
				
				<li class="tit-row">
					<div class="inqry-label">
						<label for="cntnt">내용</label>
					</div>
					<div class="inqry-cntnt">
						<textarea id="cntnt" name="inqryCntnt"></textarea>
					</div>
				</li>
				
				<li class="tit-row">
					<div class="inqry-label">
						<label for="cntnt">사진첨부</label>
					</div>
					<div class="inqry-cntnt">
						<div class="drag-area active">
							<i class="fa-solid fa-plus"></i>
						</div>
					</div>
				</li>
			</ul>
		</form>
	</div>
</body>
<script th:src="@{/js/inqury.js}"></script>
</html>