<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapp.cms.content.dao.ICntntGoodsMappingRepository">

    <select id="getAllGoodsByContent" resultType="com.example.myapp.cms.content.model.CntntGoodsMapping">
        <![CDATA[
        SELECT cntnt_id,
               goods_id
        FROM tb_cntnt_goods_mapping
        WHERE cntnt_id = #{cntntId}

        ]]>
    </select>

    <insert id="insertMappingDate" parameterType="int">
        <![CDATA[
        INSERT INTO tb_cntnt_goods_mapping (cntnt_id,
                                            goods_id)
        VALUES (#{cntntId},
                #{goodsId})
        ]]>
    </insert>

    <delete id="delMappingDate" parameterType="int">
       <![CDATA[
        delete
        from tb_cntnt_goods_mapping
        where cntnt_id = #{contentId}
        ]]>
    </delete>

    <delete id="delMappingByGoodsId" parameterType="int">
       <![CDATA[
        delete
        from tb_cntnt_goods_mapping
        where goods_id = #{goodsId}
        ]]>
    </delete>
</mapper>
