.hidden {
	display: none;
}

#report {
	display:none;
}

#buttons{
	border-top: 1px solid #e1e1e1;
}
.reply-box {
	display:none;
}
.replyForm {
	display: none;
	padding-top: 10px;
}

.view-replies-btn {
	margin-top: 20px;
}

.update-comment-textarea {
	width: 100%; /* 전체 너비 사용 */
	padding: 5px;
	border: 1px solid #e1e1e1;
	resize: none; /* 사용자가 크기를 변경할 수 없도록 설정 */
	margin-right: 10px; /* 내용과 버튼 사이의 간격을 조정 */
}

/* 댓글 리스트 영역 스타일링 */
.comment-list-section {
	padding: 20px 0;
	border-top: 1px solid #e1e1e1;
}

/* 댓글 제목 영역 스타일링 */
.comment-list-section h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

/* 각 댓글 스타일링 */
.single-comment {
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	position: relative;
	overflow: auto;
	height: auto;
}

.replies .single-comment {
	border: 1px dashed #ccc;
}

.reply-to-comment {
	color: #5D5D5D;
	border: none;
}

.single-comment.reply {
	margin-left: 30px;
	background-color: #f5f5f5;
}

.comment-content {
	padding: 5px 0;
	display: flex;
	justify-content: space-between; /* 내용과 버튼을 양쪽 끝으로 배치 */
	align-items: center; /* 내용과 버튼을 중앙으로 정렬 */
}

/* 댓글 내용 스타일링 */
.comment-content p {
	flex: 1; /* 댓글 내용을 가능한 한 넓게 확장 */
	margin-right: 10px; /* 내용과 버튼 사이의 간격을 조정 */
}

/* 댓글 날짜 스타일링 */
.comment-date {
	font-size: 13px;
	color: #333;
	margin-bottom: 10px;
	resize: none;
}

/* 답글 및 수정, 삭제 버튼 영역 스타일링 */
.comment-buttons {
	top: 0;
	right: 0;
}
/* 답글 입력 영역 스타일링 */
.original-replyForm, .replyForm-for-reply {
	margin-top: 10px;
}

/* 댓글 작성 영역 스타일링 */
.comment-section {
	margin-top: 50px;
	resize: none;
}

.comment-section textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #e1e1e1;
	resize: none;
}

#delete {
	background-color: #e66767 !important;
}

#delete_ref {
	background-color: #e66767 !important;
}
.comment-section button {
	color: #5D5D5D !important;
	margin-bottom: 10px;
	background-color: var(- -color-main);
}

.reply-to-comment {
	color: #5D5D5D !important;
}

.cancel-reply {
	background-color: #e66767 !important;
}

.comment-section button, .reply-to-comment, .reply-show, .update-comment,
	.cancel-reply, .post-reply, #delete, #delete_ref {
	border-radius: 7px;
	height: 50px;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 22.5px;
	font-weight: 600;
	transition: all 200ms linear;
	padding: 0 40px;
	display: inline-flex;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: none;
	color: white;
	background-color: #14dbc8;
	box-shadow: 0 12px 24px -4px rgba(27, 60, 141, 0.3);
	white-space: nowrap;
}

.input-reply-textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #e1e1e1;
	resize: none;
	height: 100px;
}

.info-container {
	display: flex;
	padding: .5em;
	display: flex;
	align-items: center;
}

.username, .registdate, .separator {
	margin: 0 5px;
}

.btn.report {
	color: red !important;
	border: 1px solid red !important;
	background-color: white !important;
}

.registdate {
	margin-left: 10px;
}

.readcnt {
	margin-left: auto;
	padding-right: .5em;
}

.separator {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
}

.registdate, .readcnt {
	font-weight: 600;
	color: #333;
}

.commu-header {
	border-top: 3px solid black;
	padding: .5em;
	font-size: 20px;
	resize: none;
}

.img-div {
	padding: 1.5em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cntnt-div {
	padding: 1.5em;
}

.file-download-section {
	border: 1px solid #d5d5d5;
}

.file-links li a:hover {
	text-decoration: underline;
}

.zip-file-download {
	font-size: 17px;
	resize: none;
}

.file-links {
	text-align: left;
	display: flex;
	padding: 1px;
}

.download-container {
	display: flex;
	align-items: center;
}

.download-link:hover {
	text-decoration: underline;
}

.download-container .btn.file-download {
	padding: 5px 5px;
	height: 30px;
	resize: none;
}

.file-links li span {
	padding-right: 5px;
	resize: none;
}

img {
	width: auto;
	height: 300px;
}

.btn-div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: relative;
}

.list-link {
	position: absolute;
	top: 1em;
	left: 46%;
}

.btns {
	display: flex;
	position: absolute;
	top: 1em;
	right: 0px;
	gap: 10px;
}

.btns>div, .btns>form {
	display: flex;
	align-items: center;
}

.detail-cntnt {
	min-height: 400px;
}