.cate {
	font-size: 1em !important;
}

.notice-class {
	color:red;
	font-weight: bold;
}
.cmssearchDiv {
	width: 25vw;
    padding: 0;
    height: fit-content;
	
}
.cate.active {
  border-bottom: 3px solid var(--color-main);
}

#commubtn {
	height:40px;
	background-color:black;
}
.categories li {
  font-size: 14px;
  font-weight: 900;
  float: left;
  position: relative;
  cursor: pointer;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 0px;
  text-align: center;
}

.page-link {
  color: #000 !important;
  background-color: #fff;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
}
 
.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
 
}
.commuBtn {
    position: absolute !important;
    right: 1rem !important;
    background-color: var(--color-main) !important;
    color: white !important;
    float: right !important;
}


.container {
    position: relative;
    margin-left: 3rem;
}

.pagination {
    cursor: pointer;
}
.hidden {
	display: none;
}

.page-btn a:hover, .page-btn a:focus {
    color: #000;
    background-color: #fafafa;
    border-color: #ccc;
}


t/* 제목에 대한 CSS 수정 */
table th:nth-child(3), table td:nth-child(3) {
	width: 50%;
    text-align: left;  /* 제목 왼쪽 정렬 */
    min-width: 600px;  /* 제목의 최소 너비 설정 */
    max-width: 600px;  /* 제목의 최대 너비 설정 */
    white-space: nowrap;  /* 제목 내부의 공백은 줄바꿈 없이 처리 */
    overflow: hidden;  /* 내용이 칸을 벗어날 경우 숨김 처리 */
    text-overflow: ellipsis;  /* 오버플로우 발생 시 '...'로 표시 */
}

table th:nth-child(1), table td:nth-child(1) {
    width: 8%;
}
table th:nth-child(2), table td:nth-child(2) {
    width: 8%;
}
table th:nth-child(4), table td:nth-child(4) {
    width: 8%;
}
table th:nth-child(5), table td:nth-child(5) {
    width: 8%;
}


table th:nth-child(5), table td:nth-child(6) {
    width: 5%;
}

/* 테이블 간격 조정을 위한 CSS */
table {
    width: 100%;  /* 테이블의 전체 너비 설정 */
    table-layout: fixed;  /* 열 너비가 내용에 따라 변경되지 않도록 고정 */
}

/* Dropdown Button */
.dropbtn {
	background-color: #04AA6D;
	color: white;
	font-size: 16px;
	border: none;
	width: 200px;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 1.2rem;
	height: 40px;
}

.commuDropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color: #ddd;}

.commuDropdown:hover .dropdown-content {display: block;}
