.info-container {
    display: flex;
    align-items: center;
    padding: .5em;
        display: flex;
    align-items: center;
}
.reply {
	margin-left:30px; /* //들여쓰기 효과 */
}

.username, .registdate, .separator {
    margin: 0 5px;
}

.btn.report {
	color: red !important;
    border: 1px solid red !important;
    background-color: white !important;
}

.registdate {
    margin-left: 10px; 
}

.readcnt {
    margin-left: auto;
    padding-right: .5em; 
}

.separator {
    border-bottom: 1px solid #ccc;
     margin-bottom: 0; 
}

.registdate, .readcnt {
	font-weight:600;
	    color: #333;
}
 
 
 
 .commu-header {
	border-top: 3px solid black;
	padding: .5em;
	font-size:20px;
	resize:none;
}

.img-div {
	padding: 1.5em;
	  display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

.cntnt-div {
	padding: 1.5em;
}

.file-download-section {
    border: 1px solid #d5d5d5;
   
}
.file-links li a:hover {
    text-decoration: underline;
}



.zip-file-download {
	font-size:17px;
	resize:none;
}

.file-links {
    text-align: left;
    display:flex;
    padding:1px;
}

.download-container {
    display: flex;
    align-items: center; 
}

.download-link:hover {
    text-decoration: underline;
}
.download-container .btn.file-download {
     padding:5px 5px;
     height:30px;
     resize:none;
}

.file-links li span {
    padding-right: 5px;
    resize:none;
}

img {
	width: auto;
	height: 300px;
}

.btn-div {
	position: relative;
}

.list-link {
	position: absolute;
	top: 1em;
	left: 46%;
}

.btns {
	display: flex;
	position: absolute;
	top: 1em;
	right: 100px;
}

.detail-cntnt {
	min-height: 400px;
}