@charset "UTF-8";


.container {
    position: relative;
}

.buttonlist{
	 display: flex;         
    justify-content: center; 
    flex-wrap: wrap;      
    gap: 10px; 
}

.commulistBtn {
	background-color: var(--color-main);
	 color: white;
	text-align:center;
	 margin: 0 auto;
}

.commuupdateBtn {
	background-color: var(--color-main);
	 color: white;
	float:center;
}

.commureportBtn {
	background-color: white !important;
	color:red !important;
	float:center !important;
	border: 1px solid red !important;
}

.commudeleteBtn {
	background-color: white !important;
	 color:red !important;
	float:center !important;
	border: 1px solid red !important;
	 
}