<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapp.cms.content.dao.IContentRepository">

    <select id="getAllContent" resultType="com.example.myapp.cms.content.model.Content">
        <![CDATA[
        SELECT cntnt_id          ,
               cntnt_cate_code   ,
               cntnt_title       ,
               cntnt_kwrd        ,
               cntnt_url         ,
               cntnt_regist_date ,
               cntnt_update_date ,
               cntnt_delete_yn
        FROM tb_cntnt
        ]]>
    </select>
    <select id="getAContent" resultType="com.example.myapp.cms.content.model.Content">
        <![CDATA[
        SELECT cntnt_id          ,
               cntnt_cate_code   ,
               cntnt_title       ,
               cntnt_kwrd        ,
               cntnt_url         ,
               cntnt_regist_date ,
               cntnt_update_date ,
               cntnt_delete_yn
        FROM tb_cntnt
        WHERE cntnt_id = #{cntntId}
        ]]>
    </select>
</mapper>
