<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapp.cms.content.dao.IContentRepository">

    <select id="getAllContent" resultType="com.example.myapp.cms.content.model.CmsContent">
        SELECT cntnt_id,
		       cntnt_cate_code,
		       cntnt_title,
		       cntnt_kwrd,
		       cntnt_url,
		       cntnt_regist_date,
		       cntnt_update_date,
		       cntnt_delete_yn
		FROM
		    (SELECT rownum rn,
		            cntnt_id,
		            cntnt_cate_code,
		            cntnt_title,
		            cntnt_kwrd,
		            cntnt_url,
		            cntnt_regist_date,
		            cntnt_update_date,
		            cntnt_delete_yn
		    FROM
		        (SELECT *
		        FROM tb_cntnt a
		        JOIN tb_common_code b
		        ON a.cntnt_cate_code = b.common_code
		        WHERE cntnt_delete_yn = 'N'
		        <if test="commonCodeVal != 'All'">
		        	AND common_code_val = #{commonCodeVal}
		        </if>
		        ORDER BY cntnt_id desc
		        )
		    )
		WHERE rn between #{start} AND #{end}
		ORDER BY rn
    </select>
    
    <select id="getAContent" resultType="com.example.myapp.cms.content.model.CmsContent">
        <![CDATA[
        SELECT cntnt_id,
               cntnt_cate_code,
               cntnt_title,
               cntnt_kwrd,
               cntnt_url,
               cntnt_regist_date,
               cntnt_update_date,
               cntnt_delete_yn
        FROM tb_cntnt
        WHERE cntnt_id = #{cntntId}
          and cntnt_delete_yn = 'N'
        ]]>
    </select>
    <select id="getContentByKeyword" parameterType="java.util.List"
            resultType="com.example.myapp.cms.content.model.CmsContent">

        SELECT cntnt_id,
        cntnt_cate_code,
        cntnt_title,
        cntnt_kwrd,
        cntnt_url,
        cntnt_regist_date,
        cntnt_update_date,
        cntnt_delete_yn
        FROM tb_cntnt
        WHERE cntnt_delete_yn = 'N' and (

        <if test="keywordList.size() != 0">
            (
            <foreach collection="keywordList" item="addr" separator=" OR ">
                cntnt_kwrd LIKE ('%' || #{addr}|| '%')
            </foreach>
            ) or
        </if>
        <if test="keywordList.size() != 0">
            (
            <foreach collection="keywordList" item="addr" separator=" OR ">
                cntnt_title LIKE ('%' || #{addr}|| '%')
            </foreach>
            )
        </if>)

    </select>
    <select id="totalContent" resultType="int">
    	SELECT count(*)
		FROM tb_cntnt a
		JOIN tb_common_code b
		ON a.cntnt_cate_code = b.common_code
		WHERE cntnt_delete_yn = 'N'
		<if test="commonCodeVal != 'All'">
			AND b.common_code_val = #{commonCodeVal}
		</if>
    </select>
    <insert id="insertAContent" parameterType="com.example.myapp.cms.content.model.CmsContent" useGeneratedKeys="true"
            keyColumn="cntnt_id" keyProperty="cntntId">
        <![CDATA[
        INSERT INTO tb_cntnt (cntnt_id,
                              cntnt_cate_code,
                              cntnt_title,
                              cntnt_kwrd,
                              cntnt_url,
                              cntnt_regist_date,
                              cntnt_delete_yn)
        VALUES (cntnt_seq.NEXTVAL,
                #{cntntCateCode},
                #{cntntTitle},
                #{cntntKwrd},
                #{cntntUrl},
                to_char(sysdate, 'yyyy.mm.dd hh24:mi:ss'),
                'N')
        ]]>
    </insert>

    <update id="updateAContent" parameterType="com.example.myapp.cms.content.model.CmsContent" useGeneratedKeys="true"
            keyColumn="cntnt_id" keyProperty="cntntId">
  <![CDATA[
        UPDATE tb_cntnt
        SET cntnt_cate_code   = #{cntntCateCode},
            cntnt_title       = #{cntntTitle},
            cntnt_kwrd        = #{cntntKwrd},
            cntnt_update_date = to_char(sysdate, 'yyyy.mm.dd hh24:mi:ss')
        WHERE cntnt_id = #{cntntId}
        ]]>

    </update>

    <update id="updateDelStat" parameterType="int">
     <![CDATA[
        UPDATE tb_cntnt
        SET cntnt_delete_YN   = 'Y',
            cntnt_update_date = to_char(sysdate, 'yyyy.mm.dd hh24:mi:ss')
        WHERE cntnt_id = #{cntntId}
        ]]>

    </update>


</mapper>
