/*CMS 콘텐츠 디테일 화면 그리드 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
}

.search-form {
    width: 300px;
    max-width: 60%;
    margin-right: 2.5rem;
}

.recommand {
    padding: 1rem;
}

.main-content {
    padding: 1rem;
}

.keyword {
    display: flex;
    justify-content: space-evenly;
}

.secondary {
    padding: 1rem;
    border-top-right-radius: 10px;
}

.secondary-a {
    background: rgb(93, 108, 176);
    background: linear-gradient(133deg, rgba(93, 108, 176, 1) 4%, rgba(89, 106, 186, 1) 20%, rgba(65, 86, 184, 1) 41%, rgba(65, 86, 184, 1) 89%);

}

.goods-box {
    display: flex;
    justify-content: space-evenly;
}

.secondary-b {
    color: white;
    background: #666;
}

.footer {
    padding: 1rem;
    border-top: 1px solid lightgray;
    text-align: center;
}

.modal {
    display: none;
    top: 80px;
}

#modal-switch,
label[for="modal-switch"] > span {
    position: absolute;
    left: -9999px;
}

label[for="modal-switch"] {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
}

label[for="modal-switch"]:before {
    content: '✉';
    font-size: 2rem;
    cursor: pointer;
}

#modal-switch:checked ~ .modal {
    display: flex;
}

#modal-switch:checked ~ label[for="modal-switch"] {
    color: dodgerblue;
}

@media (min-width: 1024px) {
    .page {
        display: grid;
        grid-template-columns: 16% 1fr;
    }

    .header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .main-content {
        grid-column: 2 / 3;
        grid-row: 2 / 7;
    }

    #iframe {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 400px;
        height: 300px;
        margin: auto;
        display: table;
    }

    .iframe-title {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .keyword {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .goods-box {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    .recommand {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }

    .secondary-a {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .footer {
        grid-column: 1 / 4;
        grid-row: 8 / 9;
    }
}

@media (max-width: 1023px) {
    .page {
        display: grid;
        grid-template-columns: 16% 1fr;
    }

    .header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }


    .main-content {
        grid-column: 2 / 3;
        grid-row: 2 / 7;
    }

    #iframe {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 400px;
        height: 300px;
        margin: auto;
        display: table;
    }

    .iframe-title {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .keyword {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .goods-box {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    .recommand {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }

    .secondary-a {
        display: none;
    }

    .footer {
        grid-column: 1 / 4;
        grid-row: 8 / 9;
    }
}
