:root {
    /* Color */
    --color-main: #14dbc8;
}

.main-border {
	border-bottom: 3px solid var(--color-main)
}

.row {
    display: flex;
    justify-content: center;
}

#iframe {
    text-align: center;
}

/* iframe 크기 조정 */
iframe {
	height: 34vw;
	width: 100%;
}
.title-box{
    padding-top: 2em;
}
.keyword{
    padding-top: 1em;
}

figure {
    height: 15rem;
}

.cntnt-title {
	font-size: 1.5vw;
}

.rel-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.figure{
    margin: revert !important;
}

.goodsBkmk{
    padding: 7px 6px;
}

/* 트렌트 표시창 경계선 */
.offcanvas-header {
    border-bottom: 3px solid var(--color-main)
}

i {
    cursor: pointer;
}
li {
    cursor: pointer;
}
.trend img {
    margin: 10px;
    width: 80% !important;
}

/* 제목 옆 카테고리 */
.categori {
    height: 25px;
    background: var(--color-main);
    color: white;
    border-radius: 10%;
}

p {
    margin: 0px !important;
}

.keywordItem {
    padding: 10px;
    border-radius: 10px;
}

/* 제목 길면 아래줄로 넘어가기 */
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image {
    height: 0;
    padding-bottom: 60%;
    width: 80% !important;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rel-image {
	background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rel-box {
	width: 250px;
}

.card-desc {
    flex: 1 1 auto;
    padding: 1em;
    background: white;
}

/* 카테고리 색 */
.keywordItem:nth-child(1) {
    background-color: #FBF0B2;
}

.keywordItem:nth-child(2) {
    background-color: #FFC7EA;
}

.keywordItem:nth-child(3) {
    background-color: #D8B4F8;
}

.keywordItem:nth-child(4) {
    background-color: #CAEDFF;
}

.keywordItem:nth-child(5) {
    background-color: #FFC7C7;
}

.keywordItem:nth-child(6) {
    background-color: #FFE2E2;
}

.keywordItem:nth-child(7) {
    background-color: #F6F6F6;
}

.keywordItem:nth-child(8) {
    background-color: #8785A2;
}

.keywordItem:nth-child(9) {
    background-color: #DCD6F7;
}

.keywordItem:nth-child(10) {
    background-color: #E0F9B5;
}
.admin-button{
    float: right;
}
/* 로딩 중 스피너 스타일 */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 로딩 중 레이어 스타일 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
}
