:root {
    /* Color */
    --color-main: #14dbc8;
}

.main-border {
	border-bottom: 3px solid var(--color-main)
}

.row {
    display: flex;
    justify-content: center;
}

#iframe {
    text-align: center;
}

/* iframe 크기 조정 */
iframe {
    width: 100%;
    height: 700px;
}
.title-box{
    padding-top: 2em;
}
.keyword{
    padding-top: 1em;
}

figure {
    width: 15rem;
    height: 15rem;
}

.figure{
    margin: revert !important;
}

.goodsBkmk{
    padding: 7px 6px;
}

/* 트렌트 표시창 경계선 */
.offcanvas-header {
    border-bottom: 3px solid var(--color-main)
}

i {
    cursor: pointer;
}

.trend img {
    margin: 10px;
    width: 80% !important;
}

/* 제목 옆 카테고리 */
.categori {
    height: 25px;
    background: var(--color-main);
    color: white;
    border-radius: 10%;
}

p {
    margin: 0px !important;
}

.keywordItem {
    padding: 10px;
    border-radius: 10px;
}

/* 제목 길면 아래줄로 넘어가기 */
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image {
    height: 0;
    padding-bottom: 60%;
    width: 80% !important;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rel-image {
	background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rel-box {
	width: 20%;
}

.card-desc {
    flex: 1 1 auto;
    padding: 1em;
    background: white;
}

/* 카테고리 색 */
.keywordItem:nth-child(1) {
    background-color: #FBF0B2;
}

.keywordItem:nth-child(2) {
    background-color: #FFC7EA;
}

.keywordItem:nth-child(3) {
    background-color: #D8B4F8;
}

.keywordItem:nth-child(4) {
    background-color: #CAEDFF;
}

.keywordItem:nth-child(5) {
    background-color: #FFC7C7;
}

.keywordItem:nth-child(6) {
    background-color: #FFE2E2;
}

.keywordItem:nth-child(7) {
    background-color: #F6F6F6;
}

.keywordItem:nth-child(8) {
    background-color: #8785A2;
}

.keywordItem:nth-child(9) {
    background-color: #DCD6F7;
}

.keywordItem:nth-child(10) {
    background-color: #E0F9B5;
}
.admin-button{
    float: right;
}
