<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/include/header :: header}"></th:block>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" th:href="@{/css/content/userContentDetail.css}">
</head>
<body>

<div th:replace="~{/include/body-header :: header }"></div>
<!-- <input type="checkbox" id="modal-switch"> -->

<!--    main-->
<div class="container mx-5">
    <div class="row">
        <div class="col-11">
            <input id="cntntId" type="hidden" th:value="${content.cntntId}">

            <!-- 영상 -->
            <div id="iframe" th:src="${content.cntntUrl}"></div>

            <!-- 제목 -->
            <div class="d-flex justify-content-between title-box">
                <div class="d-flex">
                    <span class="me-2 categori px-2">[[${category.getCommonCodeVal()}]]</span>
                    <h3 class="text-center" th:text="${content.cntntTitle}"></h3>
                </div>
                <div>

                    <i id="cntntBkmk" th:if="${isCntntBklk <=0 }" class="fa-regular fa-heart fs-3 me-2"></i>
                    <i id="cntntBkmk" th:if="${isCntntBklk > 0}" class="fa-heart fs-3 me-2 fa-solid"
                       style="color: #14dbc8"></i>
                    <!--                    <i id="cntntBkmk" th:if="${'isCntntBklk'}" class="fa-regular fa-heart fs-3 me-2"></i>-->
                    <i class="fa-brands fa-instagram fs-3" data-bs-toggle="offcanvas"
                       data-bs-target="#offcanvasScrolling"
                       aria-controls="offcanvasScrolling"></i>
                </div>
            </div>

            <!-- 키워드 -->
            <div class="item keyword d-flex mb-5">
                <div class="keywordItem me-2" th:each="keyword : ${keywordList}">
                    <p class="fw-bold" th:text="${keyword}"></p>
                </div>
            </div>

            <hr>
            <!-- 상품 -->
            <h3 class="text-center fw-bold">관련 상품</h3>
            <section class="goods-box">
                <!--                값이 있을때-->
                <ul class="card-list" th:if="${GoodsJFileJBklkList.size()} != 0">
                    <li class="item goods-box card-item" th:each="goods : ${GoodsJFileJBklkList}" style="margin: auto">
                        <div id="goods" class="goods">

                            <div class="card " style="width: 18rem; height: 240px">
                                <a th:href="${goods.getGoodsPurchsLink()}">
                                    <figure class="card-image" style="width:18rem; height:140px"
                                            th:style="'background-image:url('+ @{/img/goods/{image}(image=${goods.goodsFileId})} +');'">
                                        <img class="card-img-top" style="width:100%; height:100%"
                                             th:src="@{/img/goods/{image}(image=${goods.goodsFileId})}"
                                             alt="...">
                                    </figure>
                                </a>
                                <div class="card-desc" style="width:18rem; height:100px;border:1px solid">
                                    <h5 class="text-center card-title px-3" th:text="${goods.goodsName}">Card
                                        title</h5>
                                    <p class="text-center" th:text="${goods.goodsPrice} + ' 원'"></p>
                                    <p class="text-center" th:text="${goods.goodsBrand}"></p>
                                </div>

                                <i th:id="${goods.goodsId}" th:if="${not #strings.isEmpty(goods.goodsBkmkRegistDate)}"
                                   class="goodsBkmk fa-heart position-absolute top-0 end-0 fs-3 fa-solid"
                                   style="color: #14dbc8"
                                   th:goodsId="${goods.goodsId}"
                                   onclick="clickGoods(this.getAttribute('goodsId'))"></i>
                                <i th:id="${goods.goodsId}" th:if="${ #strings.isEmpty(goods.goodsBkmkRegistDate)}"
                                   class="goodsBkmk fa-regular fa-heart position-absolute top-0 end-0 fs-3"
                                   th:goodsId="${goods.goodsId}"
                                   onclick="clickGoods(this.getAttribute('goodsId'))"></i>
                            </div>

                        </div>
                    </li>
                </ul>
                <div th:if="${GoodsJFileJBklkList.size()} == 0">
                    <h3>
                        관련 상품이 존재하지 않습니다.
                    </h3>
                </div>
            </section>
            <!-- end 상품 -->
        </div>

        <!-- sns 크롤링한 데이터 넣는 곳! -->
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
             id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-center" id="offcanvasScrollingLabel">트랜드</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <div class="item trend" id="trend">

                </div>
            </div>
        </div>

        <!--        TODO 문제있어-->
        <hr>
        <section class="recommand">
            <ul class="card-list" id="card-list">
            </ul>
        </section>
    </div>
</div>


<input class="item" id="trendQueryList" type="hidden" th:value="${trendQueryList}"
       style="display: none">
<input type="hidden" id="contentId" th:name="${targetContentIdF}" th:value="${content.getCntntUrl()}">

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/js/cntnt/cntntDetail.js" defer></script>
<script src="/js/cntnt/userCntntDetail.js"></script>

</body>

</html>
