<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<th:block th:replace="~{/include/header :: header}"></th:block>
<link rel="stylesheet" th:href="@{/css/content/content.css}">
<link href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.min.css" rel="stylesheet">
</head>
<body>
	<header th:insert="~{/include/body-header :: userNavBar}"></header>
	
	
	<div id="wrapper h-100 position-relative">
		<div id="main-cate" class="categories-nav mb-5">
			<ul class="categories">
				<li th:each= "cate : ${cateList}"  class="cate mx-3" th:data-maincate-value="${cate}">[[${cate}]]</li>
			</ul>
		</div>
		
		<div class="layout">
	
		</div>
		
		<div th:if="${session.isTempPwd != null}" class="toast-container position-fixed bottom-0 end-0 p-3">
			<div id="liveToast" class="toast" role="alert" aria-live="assertive"
				aria-atomic="true" style="display: hidden">
				<div class="toast-header fw-bold">
					<img src="/img/icon.png" width="30px" height="30px"
						class="rounded me-2" alt="..."> <strong class="me-auto">K-Spectrum</strong>
					<small>알림</small>
	
					<button type="button" class="btn-close" data-bs-dismiss="toast"
						aria-label="Close"></button>
				</div>
				<div class="toast-body fw-bold">임시 비밀번호로 로그인하셨네요. 보안을 위해 변경하시러
					가시겠어요?</div>
				<a th:href="@{/mber/mypage}">
					<button type="button" class="toast-btn">변경하러 가기</button>
				</a>
			</div>
		</div>
		<div class="progress-wrap">
			<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
			</svg>
		</div>
	</div>
	  	<footer class="position-relative" th:insert="~{/include/body-footer :: userFooter}"></footer>

	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script th:src="@{/js/body-header.js}"></script>
	<script th:src="@{/js/content/content.js}"></script>
	<script th:src="@{/js/scroll-to-top.js}"></script>	
	<!-- <script th:inline="javascript" th:src="@{/js/content/scroll.js}"></script> -->
	<script th:inline="javascript" th:if="${session.isTempPwd != null}">
	    function showTempPwdToast() {
	
	        const toastLiveExample = document.getElementById('liveToast');
	        toastLiveExample.removeAttribute('display');
	        const toastBootstrap = new bootstrap.Toast(toastLiveExample);
	        toastBootstrap.show();
	    }
	
	    // 페이지 로드 시 토스트를 확인하여 표시 여부 결정
	    window.onload = showTempPwdToast;
	
	    // 콘텐츠 클릭 시 디테일 페이지 보여주기
	</script>


</body>
</html>
