<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<div th:replace="~{/include/header :: header}"></div>
<link rel="stylesheet" th:href="@{/css/content/content.css}">
</head>
<body>
	<header th:insert="~{/include/body-header :: userNavBar}"></header>

	<div class="layout"></div>


	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script th:src="@{/js/body-header.js}"></script>
	<script th:src="@{/js/content/content.js}"></script>
	<script th:src="@{/js/content/scroll.js}"></script>


	<div th:if="${session.isTempPwd != null}" class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast" role="alert" aria-live="assertive"
			aria-atomic="true" style="display: hidden">
			<div class="toast-header fw-bold">
				<img src="/img/icon.png" width="30px" height="30px"
					class="rounded me-2" alt="..."> <strong class="me-auto">K-Spectrum</strong>
				<small>알림</small>

				<button type="button" class="btn-close" data-bs-dismiss="toast"
					aria-label="Close"></button>
			</div>
			<div class="toast-body fw-bold">임시 비밀번호로 로그인하셨네요. 보안을 위해 변경하시러
				가시겠어요?</div>
			<a th:href="@{/mber/mypage}">
				<button type="button" class="toast-btn">변경하러 가기</button>
			</a>
		</div>
	</div>
	</div>
	</div>
	</div>
	<script th:inline="javascript" th:if="${session.isTempPwd != null}">
    function showTempPwdToast() {

        const toastLiveExample = document.getElementById('liveToast');
        toastLiveExample.removeAttribute('display');
        const toastBootstrap = new bootstrap.Toast(toastLiveExample);
        toastBootstrap.show();
    }

    // 페이지 로드 시 토스트를 확인하여 표시 여부 결정
    window.onload = showTempPwdToast;

    // 콘텐츠 클릭 시 디테일 페이지 보여주기

    // 메인에서 클릭 시 이거 씀
    function cntntDetail(cntntId) {

        const formHtml = `
                    <form id="contentDetail" action="/user/content/detail" method="get">
                        <input  id="targetContentIdF" name="targetContentIdF"  />
                    </form>`;

        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        document.getElementById("targetContentIdF").value = cntntId;
        document.getElementById('contentDetail').submit();


    }
</script>

</body>
</html>
