:root {
	/* Color */ 
	--color-main: #14dbc8;
}
.tab {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.tab li {
	float: left;
	width: 100%;
	border: 1px solid var(--color-main);
}

.tab li{
	display: inline;
	color: var(--color-main);
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.tabcont {
	display: none;
	padding: 6px 12px;
	color:black;
}
ul.tab li.on{
	background-color: var(--color-main);
	color: white;
}
.tabcont.on {
	display: block;
}

.card-text {
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card{
	width: 285px;
	cursor: pointer;
}

.card img{
	height: 200px;
}

@media screen and (max-width: 1370px) {
  .card {
  	width: 240px;
  }
}

@media screen and (max-width: 991px) {
  .card {
  	width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .card {
  	width: 100%;
  }
}