.tab {
			list-style: none;
			margin: 0px;
			padding: 0px;
			overflow: hidden;
		}

		.tab li {
			float: left;
		}
		
		.tab li a {
			display: inline;
			color: black;
			text-align: center;
			text-decoration: none;
			padding: 10px;
		}
		
		.tabcont {
			display: none;
			background-color:yellow;
			padding: 6px 12px;
			color:black;
		}
		ul.tab li.on{
			background-color: yellow;
		}
		.tabcont.on {
			display: block;
		}