
body {
	min-height: 100vh;
	    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
    overflow: hidden;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

video#bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: no-repeat;
	background-size: cover;
}

.input-form {
	max-width: 680px;
	margin-top: 60px;
	padding: 32px;
	background: #f4f3f9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.menu-title {
	font-family: 'S-CoreDream-9Black'
}

.btn-active, .btn-check {
	background-color: #14dbc8;
}

.mail-check-btn-text {
	background-color: #14dbc8;
}


/* 카카오, 구글 버튼 */
.social_circle_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	background-color: #fee500;
	border-radius: 50%;
	margin-right: 20px; 
}

.logo_img {
	width: 35px;
	height: 35px;
}


.mailauth-btn {
	border-radius: 7px;
    height: 37px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.5px;
    font-weight: 600;
    transition: all 200ms linear;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    color: white;
    background-color: var(--color-main);
    box-shadow: 0 12px 24px -4px rgba(27, 60, 141, 0.3);
}

.mailauth-btn:disabled {
	background-color: #b4bec7!important;
}
.mailauth-btn:hover {
    color: white;
    background-color: #1f2029;
    box-shadow: 0 12px 24px -4px rgba(0, 0, 0, 0.2);
}



/*부트스트랩 CSS 적용돼있는 탭 버튼에 덮어쓰기*/ 	
 .nav{ 
	font-weight: bold;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #14c3c8;
}

.nav-tabs .nav-link {
	border-top-left-radius: unset;
	border-top-right-radius: unset;
		border-bottom-left-radius: unset;
	border-bottom-right-radius: unset;
	
	background-color: #14dbc8;
}


.nav-link, .nav-link:focus, .nav-link:hover {
	color: white;
}

.nav-link:hover, .nav-link.active:hover {
	background-color: black;
	color: white;
}

a {
	text-decoration: none !important;
	color: black !important;
}

a:visited {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
}

a:focus {
	text-decoration: none !important;
}

a:hover, a:active {
	text-decoration: none !important;
}


#mail-check-btn:focus {
	background-color: black;
}