.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: rgba(255, 255, 255, 0.408);
	font-size: 18px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	height: 100px;
	color: white;
	z-index: 999;
	padding: 0px 40px 0px 40px;
	transition: all ease 0.5s 0s;
}



.logo-img {
    width: 120px;
    height: 70px;
}

.header:hover {
	background-color: white;
	color: black;
}

.header span {
	color: white;
}

.header:hover span {
	color: black;
}


.header-left, .header-right {
	display: flex;
	justify-content: space-between;
	
}

.text {
	padding: 30px 20px;
	display: flex;
	align-items: center;
	transition: 0.2s;
	border-bottom: 2px solid rgba(238, 238, 238, 0);
	font-size: 15px;
	font-weight: bold;
}


.text:hover, .text a:hover {
	cursor: pointer;
}


#v-line:hover {
	border-bottom: 2px solid rgba(208, 208, 208, 0);
}

.header-middle {
	display: flex;
	align-items: center;
}


.login {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

