.enter {
	height: 37px;
	width: 100%;
	font-weight: 600;
	border-radius: 4px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.5px;
	outline: none;
	border: var(- -bs-border-width) solid var(- -bs-border-color);
	border: none;
	transition: all 200ms linear;
}

.enter.form-bid {
	background-color: #f8f9fa
}

.enter.form-bid:focus, .enter.form-bid:active {
	border: none;
	outline: none;
	color: #57585f;
	background-color: #e2e4f1;
}


.row input:-ms-input-placeholder {
	color: #14dbc8;
	opacity: 0.7;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.row input::-moz-placeholder {
	color: #14dbc8;
	opacity: 0.7;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
}

.row input:-moz-placeholder {
	color: #14dbc8;
	opacity: 0.7;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
}

.row input::-webkit-input-placeholder {
	color: #14dbc8;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}