<html xmlns:th="http://www.thymeleaf.org">

<div class="container mb-3">
	<!-- inqry 번호 -->
		<div class="inqry-no inqry-menu fw-bold">문의#[[${inqry.inqryId}]]</div>

		<!-- inqry form -->
		<ul class="inqry-sub">

			<!-- 제목 -->
			<li class="inqry-sub-li">
				<div class="inqry-sub-cntnt label">
					<label>문의 제목</label>
				</div>
				<div class="inqry-sub-cntnt cntnt">
					[[${inqry.inqryTitle}]]
				</div>
			</li>

			<!-- 글 정보 -->
			<li class="inqry-sub-li row">
				<div class="col">
					<div class="inqry-sub-cntnt label">
						<label>작성자</label>
					</div>
					<div class="inqry-sub-cntnt cntnt" id="write">
						[[${inqry.inqryMberId}]]
					</div>
				</div>
			</li>

			<li class="inqry-sub-li row">
				<div class="col">
					<div class="inqry-sub-cntnt label">
						<label>등록일시</label>
					</div>
					<div class="inqry-sub-cntnt cntnt" id="registDate">
						[[${inqry.inqryRegistDate}]]
					</div>
				</div>
			</li>

			<!-- 내용 -->

			<div class="col border-bottom">
				<div class="inqry-sub-cntnt label">
					<label>내용</label>
				</div>

				<div class="inqry-sub-cntnt cntnt" style="height: 300px" th:utext="${inqry.inqryCntnt}">
				</div>
			</div>


			<!-- 첨부파일 -->
			<li th:if="${inqry.inqryFileId}" class="inqry-sub-li">
				<div class="inqry-sub-cntnt label">
					<label>첨부파일</label>
				</div>
				<div class="inqry-sub-cntnt cntnt">
					<img alt="" th:src="@{/img/photo/{image}(image=${inqry.inqryFileId})}" id="inqry-img">
				</div>
			</li>

			<!-- 답글 -->
<!--			<li th:if="${reply}" class="inqry-sub-li" style="height:300px; border-top: double 3px black;">-->
<!--				<div class="inqry-sub-cntnt label" style="height:300px">-->
<!--					<label>답변</label>-->
<!--				</div>-->

<!--				<div class="inqry-sub-cntnt cntnt" style="height: 300px; width: 80%" th:utext="${reply.inqryCntnt}"></div>-->
<!--			</li>-->
		</ul>

	<div th:if="${not #strings.isEmpty(reply)}">
		<div class="inqry-menu fw-bold">문의사항 답변</div>
		<div class="col-md-12 border-top border-4 border-black">
			<div class="inqry-sub-cntnt cntnt" style="width: 10%;" th:utext="${reply.inqryCntnt}"></div>
		<hr class="h-4">
		</div>
	</div>
		<!-- 버튼 -->
		<div class="text-center position-relative mt-4">
			<a th:href="@{/cs/inqry}" class="btn text-white p-2">목록</a>

			<div class="position-absolute end-0 top-0">
	 			<div class="btns d-flex">
					<div th:if="${reply} != null" class="d-flex">
						<a th:href="@{/cs/inqry/update/{inqryId}(inqryId=${reply.inqryId})}" class="btn text-white me-2">수정</a>
						<form th:action="@{/cs/inqry/delete/{inqryId}(inqryId=${reply.inqryId})}" method="post" id="userDelete">
							<input type="submit" class="btn delete" value="삭제">
						</form>
					</div>

					<a th:if="${cnt == 1}" th:unless="${reply}" th:href="@{/cs/inqry/write}" class="btn text-white">답글달기</a>
				</div>
			</div>
		</div>
	</div>
<script th:src="@{/js/inqury/cmsInquryList.js}"></script>
<script th:src="@{/js/inqury/cmsInquryDelete.js}"></script>
</html>
