<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/inqury/inqury.css}">
    <link rel="stylesheet" th:href="@{/css/inqury/main.css}">
    <link rel="stylesheet" th:href="@{/css/inqury/cmsInquryDetail.css}">
    <link rel="stylesheet" th:href="@{/css/inqury/inqry-common.css}">
    <link rel="stylesheet" th:href="@{/css/inqury/cms.css}">
</head>
<body>
<div class="page">
    <header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>

    <section class="primary container mt-5">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="layout"></div>
            </div>
        </div>
    </section>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        let page = "[[${session.page}]]"
       	
        if (page == 'null') {
            page = 1;
        }
        
        $.ajax({
            url: "/cs/inqry/" + page,
            type: "GET",
            success: function (data) {
                var layout = $(".layout");
                layout.append(data);
                $.ajax({
    				url: "/cs/inqry/paging",
    				method: "get",
    				data: {"page" : page, "activeTab" : "menu1"},
    				success: function(data) {
   						$("#allPage").append(data);
    				}
    			})
            }
        })
    })
</script>
</body>
</html>