<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
<link rel="stylesheet" th:href="@{/css/inqury/inquryWrite.css}">
<link rel="stylesheet" th:href="@{/css/inqury/inqry-common.css}">

<body>
	<div class="page">
	    <header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>
		<div class="container">
			<div class="inqry-menu fw-bold">문의사항 글 수정</div>
			<form id="userUpdate" th:action="@{/cs/inqry/update/{inqryId}(inqryId=${inqry.inqryId})}" method="post" enctype="multipart/form-data" class="inqry-form">
				<ul class=tb-lst>
					<li class="tit-row">
						<div class="inqry-label">
							<label>
								문의 제목<span class="text-danger">*</span>
							</label>
						</div>
						<div class="inqry-cntnt">
							ㄴ[[${inqry.inqryTitle}]]
						</div>
					</li>
					<li class="tit-row">
						<div class="inqry-label">
							<label>
								문의 내용<span class="text-danger">*</span>
							</label>
						</div>
						<div class="inqry-cntnt cntnt" th:utext="${re}">

						</div>
					</li>

					<li class="tit-row">
						<div class="inqry-label">
							<label for="cntnt">
								답변<span class="text-danger">*</span>
							</label>
						</div>


<!--						여기수정-->

					</li>
<!--					<div class="inqry-cntnt" class="summernote" style="width: 80%" th:utext="${inqry.inqryCntnt}">-->
<!--					</div>-->
					<div class="inqry-cntnt">
						<textarea id="cntnt" class="summernote" name="inqryCntnt"th:text="${inqry.inqryCntnt}"></textarea>
					</div>
				</ul>

				<div class="d-flex justify-content-center">
					<!-- <input type="hidden" name="inqryId" th:value="${inqry.inqryId}"> -->
					<a type="reset" class="btn text-white me-2" th:href="@{/cs/inqry}">취소</a>
					<input type="submit" class="btn insertBtn" value="글 수정">
				</div>
			</form>
		</div>
	</div>

<script th:src="@{/js/inqury/cmsInquryUpdate.js}"></script>
</body>
</html>
