<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<ul class="menu" th:fragment="adminSideBar">
    <li class="menu-item">
        <a class="menu-link" th:href="@{/cs/dashboard}">
            <i class="material-symbols-outlined">
                Dashboard
            </i>
            <span> Dashboard</span>
        </a>
    </li>

    <hr>
    <li class="menu-item">
        <a class="menu-link" th:href="@{/cs/contentmanage}">
            <i class="material-symbols-outlined">
                ent
            </i>
            <span>콘텐츠</span></a>
    </li>

    <hr>
    <li class="menu-item">
        <a class="menu-link" th:href="@{/cs/goods/}">
            <i class="material-symbols-outlined">
                inventory_2
            </i>
            <span>상품</span></a>
    </li>

    <hr>
    <li class="menu-item">
        <a class="menu-link" th:href="@{/cs/usermanage}">
            <i class="material-symbols-outlined">account_circle</i>
            <span>회원</span></a>
    </li>

    <hr>
    <li class="menu-item">
        <a class="menu-link" th:href="@{/cs/commu}">
            <i class="material-symbols-outlined">
                diversity_3
            </i>
            <span>커뮤니티</span></a>
    </li>

    <hr>
    <li class="menu-item">
        <a class="menu-link" th:href="@{/cs/inqry}">
            <i class="material-symbols-outlined">
                live_help
            </i>
            <span>문의사항</span></a>
    </li>

    <hr>
    <li class="menu-item">
        <a class="menu-link" th:href="@{/cs/charts}">
            <i class="material-symbols-outlined">
                monitoring
            </i>
            <span>통계</span></a>
    </li>

    <hr>
    <li class="menu-item">
        <a class="menu-link" th:href="@{/user/main}">
            <i class="material-symbols-outlined">
                co_present
            </i>
            <span>사용자 화면</span></a>
    </li>
    <hr>
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

</html>
