<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlsn:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
</head>
  
<body>
	<header th:fragment="userNavBar">
		<div class="logo">
			<a th:href="@{/}"><img src="/img/mainLogo.png" class="img-fluid" alt="브랜드 로고"></a>

			<ul class="icons">
				<i class="fa-solid fa-user"></i>
				<li class="myPage"><a th:href="@{/mber/mypage}">MY PAGE</a></li>
				<i class="fa-solid fa-heart"></i>
				<li class="myLike">MY LIKE</li>
				<i class="fa-solid fa-bag-shopping"></i>
				<li class="shoppingBag">SHOPPING BAG</li>
				<i class="fa-solid fa-door-closed" sec:authorize="isAnonymous()"></i>
				<li class="login" sec:authorize="isAnonymous()"><a th:href="@{/mber/signin}">LOGIN</a></li>
				<i class="fa-solid fa-door-open" sec:authorize="isAuthenticated()"></i>
				<li class="logout" sec:authorize="isAuthenticated()"><a th:href="@{/mber/signout}">LOGOUT</a></li>
			</ul>
		</div>
		
		<ul class="contents">
			<li id="main" class="content"><a th:href="@{/}">Main</a></li>

			<li id="comm" class="content"><a th:href="@{/commu}">Comm</a></li>
			<li id="cs" class="content"><a th:href="@{/inqury}">CS</a></li>

			<li class="cms content" sec:authorize="hasRole('ADMIN')"><a th:href="@{/cs/contentmanage}">CMS</a></li>			
			<li class="cms content" sec:authorize="hasRole('USER')">&nbsp;</li>			
			<li class="search">
				<form id="searchForm" class="input-group">
				    <input type="text" id="searchInput" placeholder="검색어를 입력하세요" class="form-control">
				    <button type="submit" class="btn">
				      <i class="fa-solid fa-magnifying-glass"></i>
				    </button>
				  </form>
			</li>
		</ul>
		
		<div id="main-cate" class="categories-nav">
			<ul class="categories">
				<li th:each= "cate : ${cateList}"  class="cate" th:data-maincate-value="${cate}">[[${cate}]]</li>
			</ul>
		</div>
		
	</header>		
</body>

</html>