<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
</head>

<body>
	<header th:fragment="userNavBar">
	    <div class="logo">
            <img src="/img/mainLogo.png" alt="브랜드 로고">
            
	        <ul class="icons">
	            <i class="fa-solid fa-user"></i>
	            <li class="myPage">MY PAGE</li>
	            <i class="fa-solid fa-heart"></i>
	            <li class="myLike">MY LIKE</li>
	            <i class="fa-solid fa-bag-shopping"></i>
	            <li class="shoppingBag">SHOPPING BAG</li>
	            <i class="fa-solid fa-door-closed"></i>
	            <li class="login">LOGIN</li>
	        </ul>
	    </div>
	    <ul class="contents">
	        <li class="content"><a th:href="@{/}">Main</a></li>
	        <li class="content"><a th:href="@{comm}">Comm</a></li>
	        <li class="content"><a th:href="@{inqury}">Cs</a></li>
	        <li class="search"><i class="fa-solid fa-magnifying-glass"></i></li>
	    </ul>
	</header>
</body>

</html>