<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<th:block th:replace="~{/include/header :: header}"></th:block>
<link rel="stylesheet" th:href="@{/css/commu/commuUpdate.css}">
<link rel="stylesheet" href="/css/commu-nav.css">
</head>
<body>
	<header th:replace="~{include/body-header :: userNavBar}"></header>
	<div th:replace="~{/include/community-center :: commu-nav}"></div>
	<main>
		<div class="container">
			<div class="menu fw-bold" id="commuId">[[${commu.commuId}]]</div>
			<form
				th:action="@{/commu/update/{commuCateCode}/{commuId}(commuCateCode=${commu.commuCateCode}, commuId=${commu.commuId})}"
				method="post" enctype="multipart/form-data" id="updateForm"
				onsubmit="return validateForm()">

				<ul class=tb-lst>

					<li class="tit-row">
						<div class="commu-label">
							<label for="category">카테고리</label>
						</div>
						<div class="commu-category">
							<select id="category" name="commuCateCode">
								<option value="">카테고리를 선택해주세요.</option>
								<option th:each="code : ${commuCateCodeList}"
									th:if="${code != null && code.commonCodeVal != 'All'}"
									th:value="${code.commonCode}"
									th:selected="${code.commonCode == commu.commuCateCode}"
									th:text="${code.commonCodeDscr}">카테고리명</option>
							</select>

						</div>
					</li>

					<li class="tit-row">
						<div class="commu-label">
							<label for="title">제목</label>
						</div>
						<div class="commu-title">
							<input type="text" id="title" name="commuTitle"
								th:value="${commu.commuTitle}" placeholder="제목을 입력하세요.">
						</div>
					</li>
					<div class="commu-cntnt">
							<textarea id="cntnt" name="commuCntnt"
									  th:text="${commu.commuCntnt}"></textarea>
					</div>
					<li class="tit-row">
						<div class="commu-label">
							<label for="attachment">첨부파일</label>
						</div>
						<div class="commu-File">
							<input type="file" id="attachment" name="commuUploadFiles"
								multiple onchange="appendFileList()" style="display: none;">
							<button id="fileSelectButton"
								onclick="document.getElementById('attachment').click();">파일
								선택</button>
							<!-- 기존 첨부파일 목록 -->
							<ul>
								<li data-type="existing" th:each="file : ${commuFiles}"><span
									th:text="${file.commuFileName}"></span>
									<button th:data-filename="${file.commuFileName}"
										th:data-fileId="${file.commuFileId}"
										onclick="removeFileFromDisplayList(event, this)">삭제</button></li>
							</ul>
							<!-- 새로 추가할 파일들의 목록 -->
							<ul id="fileList"></ul>
						</div>
				</ul>

				<div class="d-flex justify-content-center">
					<input type="hidden" name="commuMberId"
						th:value="${#authentication.principal.username}"
						sec:authorize="isAuthenticated()"> <a type="reset"
						class="btn me-2 cancel-btn"
						th:href="@{/commu/detail/{commuId}(commuId=${commu.commuId})}">취소</a>
					<input type="submit" class="btn saveBtn" value="저장"> <input
						type="hidden" name="filesToDelete" id="filesToDelete">
				</div>
			</form>
		</div>
	</main>
	<footer th:insert="~{/include/body-footer :: userFooter}"></footer>
	<script th:src="@{/js/commu/update.js}"></script>
</body>
</html>
