<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commu/commuWrite.css}">
</head>
<body>
	<div th:replace="~{/include/header :: header}"></div>
	<header th:replace="~{include/body-header :: userNavBar}"></header>


	<div class="container">
		<div class="menu fw-bold">커뮤니티 글쓰기</div>
		<form th:action="@{/commu/write/${commu.commuCateCode}}" method="post"
			enctype="multipart/form-data" onsubmit="return validateForm()">

			<ul class=tb-lst>
				<li class="tit-row">
					<div class="commu-label">
						<label for="title">제목</label>
					</div>
					<div class="commu-title">
						<input type="text" id="title" name="commuTitle"
							placeholder="제목을 입력하세요.">
					</div>
				</li>

				<li class="tit-row">
					<div class="commu-label">
						<label for="category">카테고리</label>
					</div>
					<div class="commu-category">
						<select id="category" name="commuCateCode">
							<option value="">카테고리를 선택해주세요.</option>
							<option th:each="code : ${commuCateCodeList}"
								th:if="${code != null}" th:value="${code.commonCode}"
								th:text="${code.commonCodeVal}">카테고리명</option>
						</select>
					</div>
				</li>

				<li class="tit-row">
					<div class="commu-label">
						<label for="cntnt">내용</label>
					</div>
					<div class="commu-cntnt">
						<textarea id="cntnt" name="commuCntnt"></textarea>
					</div>
				</li>

				<li class="tit-row">
					<div class="commu-label">
						<label for="attachment">첨부파일</label>
					</div>

					<div class="commu-File">

						<input type="file" id="attachment" name="commuUploadFiles"
							multiple onchange="appendFileList()" style="display: none;">
						<button id="fileSelectButton"
							onclick="document.getElementById('attachment').click();">파일
							선택</button>
						<ul id="fileList"></ul>
					</div>
				</li>
			</ul>


			<div class="d-flex justify-content-center">
				<input type="hidden" name="commuMberId" th:value="${#authentication.principal.username}" sec:authorize="isAuthenticated()">
					 <a type="reset"class="btn me-2 cancel-btn" th:href="@{/commu}">취소</a> 
					 <input type="submit" class="btn commuBtn" value="등록">
			</div>
		</form>
	</div>
	<div th:insert="include/common-modal :: commonmodal"></div> <!--공통모달창 내용을 자기가 원하는대로 바꾸고싶을때  -->
</body>
<script th:src="@{/js/commu/write.js}"></script>
</html>