<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="~{/include/header :: header}"></div>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">

</head>
<body>
<header th:include="~{/include/body-header :: userNavBar}"></header>
	<div class="bg p-5">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form-background row">
				<div class="input-form col-md-12 mx-auto p-5 opacity-95">
					<div class="col-md-12 mb-5 text-center">
						<p class="fw-bold fs-2 mb-3 menu-title">계정 찾기</p>
					</div>
					<div class="col-md-12 mb-3">
						<ul class="nav nav-tabs justify-content-center fw-bold mb-3"
							id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="find-id-tab"
									data-bs-toggle="tab" data-bs-target="#find-id-tab-pane"
									type="button" role="tab" aria-controls="find-id-tab-pane"
									aria-selected="${findType == 'id'"}>아이디 찾기</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link btn" id="find-password-tab"
									data-bs-toggle="tab" data-bs-target="#find-password-tab-pane"
									type="button" role="tab" aria-controls="find-password-tab-pane"
									aria-selected="${findType == 'password'"}>비밀번호 찾기</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="find-id-tab-pane"
								role="tabpanel" aria-labelledby="find-id-tab" tabindex="0">
								<div class="row">
									<form th:action="@{/mber/findid}" method="post"
										class="validation-form" id="findIdForm" novalidate>
										<div th:if="${message}" class="alert alert-danger"
											role="alert" th:text="${message}"></div>
										<p class="text-center fw-bold">
											가입한 계정 정보의 이메일을 입력해주세요.<br>이메일을 통해 마스킹 처리된 아이디를 알려드립니다.
										</p>
										<div class="row">
											<div class="col-md-12 mb-3">
												<label for="mber_email" class="fw-bold">이메일</label> <input
													type="text" class="form-control" id="mber_email"
													name="mberEmail" placeholder="이메일" value="" required>
												<div class="invalid-feedback">이메일을 입력하지 않았거나, 존재하지 않은
													이메일입니다.</div>
											</div>
											<div class="col-md-12 mb-3"></div>
										</div>
										<div class="row">
											<button type="submit"
												class="mb-4 btn btn-lg text-white" id="sendMaskIdBtn">마스킹
												아이디 전송</button>
											<hr class="mb-3">
										</div>

										<div class="row">
											<div class="col-md-12 text-center">

												<p class="text-center">
													가입했던 계정의 이메일과 아이디가 기억나지 않을 경우 <br> <b>kspectrumkorea@gmail.com</b>으로
													문의하시기 바랍니다.
												</p>

											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="tab-pane fade" id="find-password-tab-pane"
								role="tabpanel" aria-labelledby="find-password-tab" tabindex="0">
									<form th:action="@{/mber/temppwd}" method="post"
										class="validation-form" id="tempPwdForm" novalidate>
										<div th:if="${message}" class="alert alert-danger"
											role="alert" th:text="${message}"></div>
										<p class="text-center fw-bold">
											가입한 계정 정보의 아이디와 이메일을 입력해주세요.<br>임시 비밀번호로 변경하고 이메일을 통해 임시
											비밀번호를 발송드립니다.
										</p>
										<div class="row">
											<div class="col-md-12 mb-3">
												<label for="mber_id" class="fw-bold">아이디</label> <input
													type="text" class="form-control" id="mber_id" name="mberId"
													placeholder="아이디" value="" required	>
											</div>
											<div class="col-md-12 mb-3">
												<label for="mber_email" class="fw-bold">이메일</label> <input
													type="text" class="form-control" id="mber_email"
													name="mberEmail" placeholder="이메일" value="" required>
												<div class="invalid-feedback">이메일을 입력하지 않았거나, 존재하지 않은
													이메일입니다.</div>
											</div>
											<div class="col-md-12 mb-3"></div>
										</div>
										<div class="row">
											<button type="submit"
												class="mb-4 btn btn-lg text-white">임시비밀번호
												전송</button>
											<hr class="mb-3">
										</div>

										<div class="row">
											<div class="col-md-12 text-center">

												<p class="text-center">보안을 위해 로그인 후 반드시 비밀번호를 변경해주세요.</p>

											</div>
										</div>
									</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
const sendMaskIdBtn = $('#mail-check-btn');
const mailCheckInfo = $('#mail-check-info');
const mailCheckWarn = $('#mail-check-warn');
const mailInputCheckWarn = $('#mail-input-check-warn');
const spinner = $('#mail-check-spinner');
const buttonText = $('#mail-check-btn-text');

mailCheckBtn.on('click', function() {
    const mberEmail = $('#mber_email').val();

    console.log('이메일:', mberEmail);
    
    if (mberEmail === '') {
        mailInputCheckWarn.css({
            display: 'block',
            color: '#dc3545'
        }).text('이메일 인증을 위해 이메일을 입력하세요.');
        return;
    } else if (!mberEmail.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
        mailInputCheckWarn.css({
            display: 'block',
            color: '#dc3545'
        }).text('유효한 이메일 주소 형식으로 입력하세요.');
        return;
    }
    
    $('#mber_email').prop('disabled', true);
    spinner.removeClass('d-none');
    buttonText.text('');

    $.ajax({
        type: 'POST',

        url: '/mber/findid',
        data: {
            mberEmail: mberEmail
        },
        success: function(response) {
            spinner.addClass('d-none');
            buttonText.text('마스킹 아이디 전송 완료');
            serverAuthCode = response.trim();
            const enteredAuthCode = authCodeInput.val().trim();
            console.log('수신된 검증 코드:', serverAuthCode);
            console.log('입력된 코드:', enteredAuthCode);
            mailCheckInfo.text('마스킹 메일이 발송되었습니다.');
            authCodeInput.prop('disabled', false);
            mailCheckBtn.blur();
        },
        error: function() {
            mailCheckWarn.text('이메일 입력 오류').css('color', 'red');
        }
    });

   });


</script>

<!-- 	<script>
			document.addEventListener("DOMContentLoaded", function() {
			const urlParams = new URLSearchParams(window.location.search);
			const findType = urlParams.get('findType');

			const idTab = document.getElementById('find-id-tab');
			const passwordTab = document.getElementById('find-password-tab');
			const idTabPane = document.getElementById('find-id-tab-pane');
			const passwordTabPane = document
					.getElementById('find-password-tab-pane');

			if (findType === 'password') {
				passwordTab.classList.add('active');
				idTab.classList.remove('active');
				passwordTabPane.classList.add('active', 'show');
				idTabPane.classList.remove('active', 'show');
			} else {
				idTab.classList.add('active');
				passwordTab.classList.remove('active');
				idTabPane.classList.add('active', 'show');
				passwordTabPane.classList.remove('active', 'show');
			}
		});
	</script> -->

</body>

</html>