<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="~{/include/header :: header}"></div>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">

</head>
<body>
	<header th:insert="~{/include/body-header :: userNavBar}"></header>
	<div class="bg p-5">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form-background row">
				<div class="input-form col-md-12 mx-auto p-5 opacity-95">
					<div class="col-md-12 mb-5 text-center">
						<p class="fw-bold fs-2 mb-3 menu-title">계정 찾기</p>
					</div>
					<div class="col-md-12 mb-3">
						<ul class="nav nav-tabs justify-content-center fw-bold mb-3"
							id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="find-id-tab"
									data-bs-toggle="tab" data-bs-target="#find-id-tab-pane"
									type="button" role="tab" aria-controls="find-id-tab-pane"
									aria-selected="${findType == 'id'}">아이디 찾기</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="find-password-tab"
									data-bs-toggle="tab" data-bs-target="#find-password-tab-pane"
									type="button" role="tab" aria-controls="find-password-tab-pane"
									aria-selected="${findType == 'password'}">비밀번호 찾기</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="find-id-tab-pane"
								role="tabpanel" aria-labelledby="find-id-tab" tabindex="0">
								<div class="row">
									<p class="text-center fw-bold">
										가입한 계정 정보의 이메일을 입력해주세요.<br>이메일을 통해 마스킹 처리된 아이디를 알려드립니다.
									</p>
									<div class="row">
										<div class="col-md-12 mb-3">
											<label for="mber_email" class="fw-bold">이메일</label> <input
												type="email" id="findid_mber_email" class="form-control"
												name="mberEmail" placeholder="you@example.com"
												pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
											<div class="invalid-feedback" id="mail-input-check-warn">이메일을
												입력하거나 유효한 이메일 주소 형식으로 입력하세요.</div>
										</div>
										<div class="col-md-12 mb-3"></div>
									</div>
									<div class="row">
										<button type="button" class="mb-4 btn btn-lg"
											id="send-maskid-btn">
											<span id="send-maskid-btn-text">마스킹 아이디 전송</span>

											<div
												class="spinner-border text-info spinner-border-sm ms-2 d-none"
												role="status" id="maskid-spinner"></div>
										</button>
										<hr class="mb-3">
									</div>

									<div class="row">
										<div class="col-md-12 text-center">

											<p class="text-center">
												가입했던 계정의 이메일과 아이디가 기억나지 않을 경우 <br> <b>kspectrumkorea@gmail.com</b>으로
												문의하시기 바랍니다.
											</p>

										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="find-password-tab-pane"
								role="tabpanel" aria-labelledby="find-password-tab" tabindex="0">
								<form th:action="@{/mber/temppwd}" method="post"
									class="validation-form" id="tempPwdForm" novalidate>
									<div th:if="${message}" class="alert alert-danger" role="alert"
										th:text="${message}"></div>
									<p class="text-center fw-bold">
										가입한 계정 정보의 아이디와 이메일을 입력해주세요.<br>임시 비밀번호로 변경하고 이메일을 통해 임시
										비밀번호를 발송드립니다.
									</p>
									<div class="row">
										<div class="col-md-12 mb-3">
											<label for="mber_id" class="fw-bold">아이디</label> <input
												type="text" class="form-control" id="findpwd_mber_id"
												name="mberId" placeholder="아이디" value="" required>
										</div>
										<div class="col-md-12 mb-3">
											<label for="mber_email" class="fw-bold">이메일</label> <input
												type="text" class="form-control" id="findpwd_mber_email"
												name="mberEmail" placeholder="이메일" value="" required>
											<div class="invalid-feedback">이메일을 입력하지 않았거나, 존재하지 않은
												이메일입니다.</div>
										</div>
										<div class="col-md-12 mb-3"></div>
									</div>
									<div class="row">
										<button type="button" class="mb-4 btn btn-lg"
											id="send-temppwd-btn">
											<span id="send-temppwd-btn-text">임시비밀번호 전송</span>
											<div
												class="spinner-border text-info spinner-border-sm ms-2 d-none"
												role="status" id="findpwd-spinner"></div>
										</button>
										<hr class="mb-3">
									</div>

									<div class="row">
										<div class="col-md-12 text-center">

											<p class="text-center">보안을 위해 로그인 후 반드시 비밀번호를 변경해주세요.</p>

										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$("#send-maskid-btn").click(function(e) {

				const sendMaskIdBtnText = $('#send-maskid-btn-text');
				// 응답을 기다리는 동안 스피너 표시
				sendMaskIdBtnText.addClass("d-none");
				$("#maskid-spinner").removeClass("d-none");

				// 입력 필드에서 이메일 값을 가져옴
				var mberEmail = $("#findid_mber_email").val();

				// 서버에 AJAX 요청 보내기
				$.ajax({
					type : "POST",
					url : "/mber/findid", // 올바른 URL 지정
					data : {
						mberEmail : mberEmail
					},
					success : function(response) {
				    	sendMaskIdBtnText.removeClass("d-none");
						// 성공 시 스피너 숨김
						$("#maskid-spinner").addClass("d-none");
						if (response) {
							sendMaskIdBtnText.removeClass("d-none");
							sendMaskIdBtnText.text('마스킹 아이디 전송 완료');
							alert("마스킹된 아이디가 이메일로 전송되었습니다.");
							window.location.href = "/mber/signin";
						} else {
							alert("존재하지 않는 이메일입니다. 다시 시도해주세요.");
					    	sendMaskIdBtnText.removeClass("d-none");

						}
					},
					error : function() {
						// 오류 발생 시 스피너 숨김
						sendMaskIdBtnText.removeClass("d-none");
						$("#maskid-spinner").addClass("d-none");
						alert("서버 오류가 발생했습니다. 다시 시도해주세요.");
					}
				});
			});
		});
	</script>

	<script>
		$(document)
				.ready(
						function() {
							$("#send-temppwd-btn")
									.click(
											function(e) {

												const sendTempPwdBtnText = $('#send-temppwd-btn-text');

												sendTempPwdBtnText
														.addClass("d-none");
												// 응답을 기다리는 동안 스피너 표시
												$("#findpwd-spinner")
														.removeClass("d-none");
												// 입력 필드에서 이메일 값을 가져옴
												var mberEmail = $(
														"#findpwd_mber_email")
														.val();
												var mberId = $(
														"#findpwd_mber_id")
														.val();

												// 서버에 AJAX 요청 보내기
												$
														.ajax({
															type : "POST",
															url : "/mber/temppwd",
															data : {
																mberEmail : mberEmail,
																mberId : mberId
															},
															success : function(
																	response) {
																// 성공 시 스피너 숨김
																sendTempPwdBtnText
																		.removeClass("d-none");
																$(
																		"#findpwd-spinner")
																		.addClass(
																				"d-none");
																if (response) {
																	$(
																			"#send-temppwd-btn")
																			.prop(
																					'disabled',
																					true);
																	sendTempPwdBtnText
																			.text('임시비밀번호 전송 완료');
																	alert("임시 비밀번호가 이메일로 전송되었습니다.");
																	window.location.href = "/mber/signin";
																} else {
																	alert("존재하지 않는 아이디 또는 이메일이거나, 계정정보의 아이디와 이메일이 일치하지 않습니다. 다시 시도해주세요.");
																}
															},
															error : function() {
																// 오류 발생 시 스피너 숨김
																$(
																		"#findpwd-spinner")
																		.addClass(
																				"d-none");

																alert("서버 오류가 발생했습니다. 다시 시도해주세요.");
																sendTempPwdBtnText
																		.removeClass("d-none");
															}
														});
											});
						});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const urlParams = new URLSearchParams(window.location.search);
			const findType = urlParams.get('findType');

			const idTab = document.getElementById('find-id-tab');
			const passwordTab = document.getElementById('find-password-tab');
			const idTabPane = document.getElementById('find-id-tab-pane');
			const passwordTabPane = document
					.getElementById('find-password-tab-pane');

			if (findType === 'password') {
				passwordTab.classList.add('active');
				idTab.classList.remove('active');
				passwordTabPane.classList.add('active', 'show');
				idTabPane.classList.remove('active', 'show');
			} else {
				idTab.classList.add('active');
				passwordTab.classList.remove('active');
				idTabPane.classList.add('active', 'show');
				passwordTabPane.classList.remove('active', 'show');
			}
		});
	</script>

</body>

</html>