<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://d13fzx7h5ezopb.cloudfront.net/www/v802/home/styles.css">
<link rel="stylesheet" href="/css/header.css">
</head>
<body>
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<table>
		<thead>
			<tr>
				<td>회원 ID</td>
				<td>회원 이메일</td>
				<td>비밀번호</td>
			</tr>
		</thead>

		<tr th:each="mber : ${mber}">
			<td th:text="${mber.mberId}"></td>
			<td th:text="${mber.mberEmail}"></td>
			<td th:text="${mber.mberPwd}"></td>
		</tr>
	</table>
	hi
	
	<a th:href="@{/mber/signin}"><button>로그인가기</button></a>
</body>
</html>