<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{/include/header :: header}"></div>
</head>

<body>
<header th:insert="~{/include/body-header :: userNavBar}"></header>
	<div class="container">
		<div class="menu fw-bold">마이페이지</div>
		<div class="border-bottom border-top border-2 fw-bold border-dark">
			<div class="mt-3 mb-3 row">
				<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="staticEmail" value="email@example.com">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="inputPassword">
				</div>
			</div>
		</div>
	</div>

	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast" role="alert" aria-live="assertive"
			aria-atomic="true">
			<div class="toast-header">
				<img src="/img/icon.png" width="30px" height="30px"
					class="rounded me-2" alt="..."> <strong class="me-auto">K-Spectrum</strong>
				<small>알림</small>

				<button type="button" class="btn-close" data-bs-dismiss="toast"
					aria-label="Close"></button>
			</div>
			<div class="toast-body">임시 비밀번호로 로그인하셨네요. 보안을 위해 변경하시러 가시겠어요?</div>
		</div>
	</div>
<!-- 	<script>
		$(document).ready(
				function() {
					const toastLiveExample = document
							.getElementById('liveToast')

					const toastBootstrap = bootstrap.Toast
							.getOrCreateInstance(toastLiveExample)

					toastBootstrap.show()
				})
	</script> -->
</body>
</html>