<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="~{/include/header :: header}"></div>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">
<link rel="stylesheet" th:href="@{/css/mber/mber-header.css}">

</head>
<body>
	<header th:insert="~{/include/mber-header :: mberNavBar}"></header>
	<div class="bg p-5">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form-background row">
				<div class="input-form col-md-12 mx-auto opacity-95">

					<div class="col-md-12 mb-3 text-center">
						<a th:href="@{/}"><img src="/img/mainLogo.png" width="250"
							height="120" class="img-fluid mb-3" alt="K-Spectrum"></a>
						<p class="fw-bold fs-2 mb-3 menu-title">비밀번호 재설정</p>
						임시 비밀번호로 로그인 하셨군요! <br>보안을 위해 새 비밀번호를 변경해주세요.
					</div>
					<form action="@{/mber/resetpwd}" method="post" class="validation-form"
						id="resetPwdForm" novalidate>
						<div th:if="${message}" class="alert alert-danger fw-bold"
							role="alert" th:text="${message}"></div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<input
									type="text" class="form-control form-bid"
									name="mberPwd" placeholder="현재 비밀번호" value="" autocomplete="off" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<input
									type="password" class="form-control form-bid" id="mber_pwd"
									name="mberPwd" placeholder="비밀번호" value="" required>
								<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-md-12">
							<input
								type="password" class="form-control form-bid" id="mber_pwd_re"
								placeholder="비밀번호 확인" value="" required>
							<div class="invalid-feedback">비밀번호 확인을 입력해주세요.</div>
						</div>
					</div>
					<hr class="mb-3">


					<div class="row">
						<div class="col-md-6 text-center">
							<button type="submit" form="resetPwdForm" class="btn btn-lg mb-3">비밀번호 재설정</button>
						</div>
						<div class="col-md-6 text-center">
							<button type="button" class="btn btn-lg mb-3"
								id="changePwdNextBtn">다음에 변경하기</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		// 버튼 클릭 시 쿠키 값을 "N"으로 변경하는 함수
		document
				.getElementById('changePwdNextBtn')
				.addEventListener(
						'click',
						function() {
							// 변경할 쿠키 이름과 값을 설정
							const cookieName = 'tempPwd';
							const newValue = 'Y';

							// 현재 날짜를 이용하여 만료일을 설정 (예: 현재 시간에서 1일 뒤)
							const expirationDate = new Date();
							expirationDate
									.setDate(expirationDate.getDate() + 1);

							// 쿠키 문자열 생성
							const cookieString = `${cookieName}=${newValue}; expires=${expirationDate.toUTCString()}; path=/`;

							// 쿠키 설정
							document.cookie = cookieString;

							// 페이지를 이동 (여기서는 홈 페이지로 이동하도록 설정)
							window.location.href = '/';
						});
	</script>
	
	<script>
	var mberPwd = document.getElementById("mber_pwd")
	  ,mberPwdRe = document.getElementById("mber_pwd_re");

	function validatePassword(){
	  if(mberPwd.value != mberPwdRe.value) { // 만일 두 인풋 필드값이 같지 않을 경우
	    // setCustomValidity의 값을 지정해 무조건 경고 표시가 나게 하고
	    mberPwdRe.setCustomValidity("비밀번호가 일치하지 않습니다."); 
	  } 
	  else { 
	    mberPwdRe.setCustomValidity(''); 
	  }
	}

	mberPwd.onchange = validatePwd;
	mberPwdRe.onkeyup = validatePwd;
	</script>
</body>

</html>