<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="~{/include/header :: header}"></div>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">
<link rel="stylesheet" th:href="@{/css/mber/mber-header.css}">

</head>
<body>
	<header th:insert="~{/include/mber-header :: mberNavBar}"></header>
	<div class="bg p-5">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form-background row">
				<div class="input-form col-md-12 mx-auto opacity-95">

					<div class="col-md-12 mb-3 text-center">
						<a th:href="@{/}"><img src="/img/mainLogo.png" width="250"
							height="120" class="img-fluid mb-3" alt="K-Spectrum"></a>
						<p class="fw-bold fs-2 mb-3 menu-title">비밀번호 재설정</p>
						임시 비밀번호로 로그인 하셨군요! <br>보안을 위해 새 비밀번호를 변경해주세요.
					</div>
					<form th:action="@{/mber/resetpwd}" method="post"
						class="validation-form" id="resetPwdForm">
						<div th:if="${message}" class="alert alert-danger fw-bold"
							role="alert" th:text="${message}"></div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<input type="password" class="form-control form-bid"
									name="currentMberPwd" id="current-mber-pwd"
									placeholder="현재 비밀번호" value="" autocomplete="off" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<input type="password" class="form-control form-bid"
									id="mber-pwd" name="mberPwd" placeholder="비밀번호" value=""
									required>
								<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-md-12">
							<input type="password" class="form-control form-bid"
								id="mber-pwd-re" placeholder="비밀번호 확인" value="" required>
							<div class="invalid-feedback">비밀번호 확인을 입력해주세요.</div>
						</div>
					</div>
					<hr class="mb-3">


					<div class="row">
						<div class="col-md-6 text-center">
							<button type="button" class="btn btn-lg mb-3" id="reset-pwd-btn">
								<span id="reset-pwd-btn-text">비밀번호 재설정</span>
								<div
									class="spinner-border text-info spinner-border-sm ms-2 d-none"
									role="status" id="reset-pwd-spinner"></div>
							</button>
						</div>
						<div class="col-md-6 text-center">
							<button type="button" class="btn btn-lg mb-3"
								id="changePwdNextBtn">다음에 변경하기</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<script>
		$(document).ready(function() {
			$("#reset-pwd-btn").click(function(e) {
				const resetPwdBtnText = $('#reset-pwd-btn-text');

				resetPwdBtnText.addClass("d-none");
				// 응답을 기다리는 동안 스피너 표시
				$("#reset-pwd-spinner").removeClass("d-none");
				// 입력 필드에서 이메일 값을 가져옴
				var mberPwd = $("#mber-pwd").val();
				var currentMberPwd = $("#current-mber-pwd").val();
				var mberPwdRe = $("#mber-pwd-re").val(); // 비밀번호 확인 값 가져오기

				// 비밀번호와 비밀번호 확인이 일치하는지 확인
				if (mberPwd !== mberPwdRe) {
					alert("입력된 새로운 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
					resetPwdBtnText.removeClass("d-none");
					$("#reset-pwd-spinner").addClass("d-none");
					return; // 일치하지 않으면 함수 종료
				}

				// 서버에 AJAX 요청 보내기
				$.ajax({
					type : "POST",
					url : "/mber/resetpwd",
					data : {
						mberPwd : mberPwd,
						currentMberPwd : currentMberPwd
					},
					success : function(response) {
						// 성공 시 스피너 숨김
						resetPwdBtnText.removeClass("d-none");
						$("#reset-pwd-spinner").addClass("d-none");
						if (response) {
							$("#reset-pwd-btn").prop('disabled', true);
							resetPwdBtnText.text('비밀번호 재설정 완료');
							alert("비밀번호 재설정 완료되었습니다.");
							window.location.href = "/";
						} else {
							alert("오류가 발생했습니다.");
						}
					},
					error : function() {
						// 오류 발생 시 스피너 숨김
						$("#reset-pwd-spinner").addClass("d-none");

						alert("서버 오류가 발생했습니다. 다시 시도해주세요.");
						resetPwdBtnText.removeClass("d-none");
					}
				});
			});
		});
	</script>
</body>

</html>