<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="~{/include/header :: header}"></div>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">
<link rel="stylesheet" th:href="@{/css/mber/mber-header.css}">
</head>
<body>
	<header th:insert="~{/include/mber-header :: mberNavBar}"></header>
	<div class="bg p-5">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form-background row">
				<div class="input-form col-md-12 mx-auto opacity-95">

					<div class="col-md-12 mb-3 text-center">
						<a th:href="@{/}"><img src="/img/mainLogo.png" width="250"
							height="120" class="img-fluid mb-3" alt="K-Spectrum"></a>
						<p class="fw-bold fs-2 mb-3 menu-title">비밀번호 재설정</p>
						임시 비밀번호로 로그인 하셨군요! <br>보안을 위해 새 비밀번호를 변경해주세요.
					</div>
					<form action="#" method="post" class="validation-form"
						id="signinForm" novalidate>
						<div th:if="${message}" class="alert alert-danger fw-bold"
							role="alert" th:text="${message}"></div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="mber_id" class="fw-bold">현재 비밀번호</label> <input
									type="text" class="form-control" id="mber_id" name="mberId"
									placeholder="현재 비밀번호" value="" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="mber_pwd" class="fw-bold">비밀번호</label> <input
									type="password" class="form-control" id="mber_pwd"
									name="mberPwd" placeholder="비밀번호" value="" required>
								<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label for="mber_pwd" class="fw-bold">비밀번호 확인</label> <input
									type="password" class="form-control" id="mber_pwd"
									name="mberPwd" placeholder="비밀번호 확인" value="" required>
								<div class="invalid-feedback">비밀번호확인을 입력해주세요.</div>
							</div>
						</div>
						<hr class="mb-3">


						<div class="row text-center">
							<div class="col-md-6">
								<button type="submit" class="btn btn-lg mb-3">비밀번호 재설정</button>
							</div>

						</div>


					</form>
					<div class="col-md-6 text-center">
						<button class="btn btn-lg mb-3" id="changePwdNextBtn">다음에
							변경하기</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		// 버튼 클릭 시 쿠키 값을 "N"으로 변경하는 함수
		document
				.getElementById('changePwdNextBtn')
				.addEventListener(
						'click',
						function() {
							// 변경할 쿠키 이름과 값을 설정
							const cookieName = 'tempPwd';
							const newValue = 'N';

							// 현재 날짜를 이용하여 만료일을 설정 (예: 현재 시간에서 1일 뒤)
							const expirationDate = new Date();
							expirationDate
									.setDate(expirationDate.getDate() + 1);

							// 쿠키 문자열 생성
							const cookieString = `${cookieName}=${newValue}; expires=${expirationDate.toUTCString()}; path=/`;

							// 쿠키 설정
							document.cookie = cookieString;

							// 페이지를 이동 (여기서는 홈 페이지로 이동하도록 설정)
							window.location.href = '/';
						});
	</script>
</body>

</html>