<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="~{/include/header :: header}"></th:block>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">
<link rel="stylesheet" th:href="@{/css/mber/mber-header.css}">

</head>
<body>
	<header th:insert="~{/include/mber-header :: mberNavBar}"></header>
	<div class="bg">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form col-md-12 mx-auto opacity-95">
				<div class="input-form-background">
					<form th:action="@{/mber/signin}" method="post"
						class="validation-form" id="signinForm" novalidate>
						<p class="text-center">
							<a th:href="@{/}"><img src="/img/mainLogo.png" width="500"
								height="180" class="img-fluid" alt="K-Spectrum"></a>
						</p>

						<p class="text-center fw-bold fs-2" th:text=#{signin.title}>안녕하세요. 당신은 누구신가요?</p>

						<div th:if="${param.error != null}"
							class="alert alert-danger fw-bold" role="alert"
							th:text="${exception}"></div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<input type="text" class="form-control form-bid" id="mber_id"
									name="mberId" th:placeholder=#{id} value="" maxlength="12"
									required>
								<div class="invalid-feedback" th:text=#{enter.ID}>아이디를 입력해주세요.</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pwd-input-wrap">
									<input type="password" class="form-control form-bid"
										id="mber_pwd" name="mberPwd" th:placeholder=#{password} value=""
										maxlength="16" required><i class="fa fa-eye see-pwd"
										id=see-pwd></i> <span class="invalid-feedback" th:text=#{enter.password2}>비밀번호를
										입력해주세요.</span>
								</div>
							</div>
						</div>
						<hr class="mb-3">

						<div class="row">
							<div class="col-md-6 mb-3">
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox"
										id="remember-me" name="remember-me"> <label
										class="form-check-label fw-bold" for="remember-me" th:text=#{stay_login}>로그인
										상태 유지</label>
								</div>
							</div>
							<div class="col-md-6 mb-3 text-end">
								<a th:href="@{/mber/findmber(findType='id')}"
									class="fw-bold link-effect" th:text=#{find.id}>아이디 찾기</a> <a
									th:href="@{/mber/findmber(findType='password')}"
									class="fw-bold link-effect" th:text=#{find.password}>비밀번호 찾기</a>
							</div>
						</div>
						<div class="row">
							<button type="submit" class="btn btn-lg mb-3" th:text=#{sign.in}>로그인</button>
						</div>
						<div class="row">
							<div class="d-flex justify-content-center jusify-align-center">
								<p class="text-center m-0 pt-1" th:text=#{signup.comments}>
									아직 회원이 아니신가요? 
								</p>
								<a th:href="@{/mber/signup}" class="m-0 fw-bold link-effect" th:text=#{sign.up}>회원가입</a>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/mber/mber.js}"></script>
</body>

</html>