<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="~{/include/header :: header}"></th:block>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">
<link rel="stylesheet" th:href="@{/css/mber/mber-header.css}">

</head>
<body>
	<header th:insert="~{/include/mber-header :: mberNavBar}"></header>
	<div class="bg p-5">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form col-md-12 mx-auto p-5 opacity-95">
				<div class="input-form-background">
					<form th:action="@{/mber/signin}" method="post"
						class="validation-form" id="signinForm" novalidate>
						<p class="text-center">
							<a th:href="@{/}"><img src="/img/mainLogo.png" width="500"
								height="240" class="img-fluid mb-3" alt="K-Spectrum"></a>
						</p>
						<p class="text-center fw-bold fs-2 mb-3">안녕하세요. 당신은 누구신가요?</p>
						<div th:if="${param.error != null}"
							class="alert alert-danger fw-bold" role="alert"
							th:text="${exception}"></div>

						<div class="row">
							<div class="col-md-12 mb-3">
								<input type="text" class="form-control form-bid" id="mber_id"
									name="mberId" placeholder="아이디" value="" maxlength="12" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<input type="password" class="form-control form-bid"
									id="mber_pwd" name="mberPwd" placeholder="비밀번호" value="" maxlength="16"
									required>
							</div>
						</div>

						<hr class="mb-3">

						<div class="row">
							<div class="col-md-6 mb-3">
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox"
										id="remember-me" name="remember-me"> <label
										class="form-check-label fw-bold" for="remember-me">로그인
										상태 유지</label>
								</div>
							</div>
							<div class="col-md-6 mb-3 text-end">
								<a th:href="@{/mber/findmber(findType='id')}"
									class="fw-bold link-effect">아이디 찾기</a> <a
									th:href="@{/mber/findmber(findType='password')}"
									class="fw-bold link-effect">비밀번호 찾기</a>
							</div>
						</div>
						<div class="row">
							<button type="submit" class="btn btn-lg mb-3">로그인</button>
						</div>
						<div class="row">
							<p class="text-center">
								아직 회원이 아니신가요? <a th:href="@{/mber/signup}"
									class="fw-bold link-effect">회원가입</a>
							</p>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</body>

</html>