<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://d13fzx7h5ezopb.cloudfront.net/www/v802/home/styles.css">
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">
<style>
#circle_kakao {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: #fee500;
	border-radius: 50%;
}

#kakao_logo_img {
	width: 60px;
	height: 60px;
}

#circle_google {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
}

#google_logo_img {
	width: 60px;
	height: 60px;
}
</style>
</head>
<body>
	<div class="bg p-5">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form-background row">
				<div class="input-form col-md-12 mx-auto opacity-95 p-5">
					<div class="d-flex justify-content-center col-md-12">
						<div id="circle_kakao">
							<a href="https://www.kakao.com"><img
								src="/img/mber/kakaologo.png" id="kakao_logo_img"></a>
						</div>
						<div id="circle_google">
							<a href="https://www.google.com"><img
								src="/img/mber/googlelogo.png" id="google_logo_img"></a>
						</div>
					</div>

					<form th:action="@{/mber/signup}" method="post"
						class="validation-form" id="signupForm" novalidate>
						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="mber_id" class="fw-bold">아이디</label> <input
									type="text" class="form-control" id="mber_id" name="mberId"
									placeholder="아이디" pattern="^[a-zA-Z]{1}[a-zA-Z0-9_]{4,11}$"
									required>
								<div class="invalid-feedback">영문 대소문자로 시작하고, 영문 대소문자, 숫자,
									밑줄(_)로 이루어진 5자 이상 12자 이하의 아이디를 입력하세요.</div>
								<div th:text="${existIdMessage}" style="color: red;"></div>
							</div>
							<div class="col-md-12 mb-3">
								<label for="mber_pwd" class="fw-bold">비밀번호</label> <input
									type="password" class="form-control" id="mber_pwd"
									name="mberPwd" placeholder="비밀번호"
									pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
								<div class="invalid-feedback">최소 6자 이상이어야 하며, 숫자, 소문자,
									대문자를 모두 포함해야 합니다.</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="mber_name" class="fw-bold">이름</label> <input
									type="text" class="form-control" id="mber_name" name="mberName"
									placeholder="이름" value="" required>
								<div class="invalid-feedback">이름을 입력해주세요.</div>
							</div>
							<div class="col-md-6 mb-3">
								<label for="mber_birth" class="fw-bold">생년월일</label> <input
									type="date" class="form-control" id="mber_birth"
									name="mberBirth" placeholder="비밀번호" value="" required>
								<div class="invalid-feedback">생년월일를 입력해주세요.</div>
							</div>
							<div class="col-md-6 mb-3">
								<label for="mber_gender" class="fw-bold">성별</label> <select
									name="mberGenderCode" class="form-select mb-3" required>
									<option value="" disabled selected>성별 선택</option>
									<option value="C0101">남자</option>
									<option value="C0102">여자</option>
									<option value="C0103">비공개</option>
								</select>
								<div class="invalid-feedback">성별을 입력해주세요.</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 mb-3">
								<label for="mber_email" class="fw-bold">이메일</label> <input
									type="email" id="mber_email" class="form-control"
									name="mberEmail" placeholder="you@example.com"
									pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
								<div class="invalid-feedback" id="mail-input-check-warn">이메일을
									입력하거나 유효한 이메일 주소 형식으로 입력하세요.</div>
							</div>
							<div class="col-md-3 mb-3">
								<label for="EmailAuth">&nbsp;</label>
								<button type="button" id="mail-check-btn" name="EmailAuth"
									class="form-control btn text-white"
									style="background-color: #14dbc8;" required>
									<span id="mail-check-btn-text">메일 인증</span>
									<div class="spinner-border spinner-border-sm ms-2 d-none"
										role="status" id="mail-check-spinner"></div>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="auth-code-input" class="fw-bold">인증번호</label> <input
									type="text" id="auth-code-input"
									class="form-control mail-check-input" placeholder="인증번호 입력"
									disabled="disabled" maxlength="6"
									oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
									onkeyup="checkAuthNumFn()"> <span id="mail-check-warn"
									class="mb-2"></span>
								<div class="invalid-feedback">인증번호를 입력해주세요.</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="mber_phone" class="fw-bold">전화번호</label> <input
									type="text" id="mber_phone" name="mberPhone"
									class="form-control" placeholder="전화번호"
									pattern="^010-\d{4}-\d{4}$" required>
								<div class="invalid-feedback">010-xxxx-xxxx 형식으로 입력하세요.</div>
							</div>
						</div>

						<hr class="mb-4">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="aggrement"
								required> <label class="form-check-label"
								for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
						</div>
						<div class="mb-4"></div>
						<button type="submit" class="mb-4 btn btn-lg text-white"
							style="background-color: #14dbc8;">가입완료</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script>
		window.addEventListener('load', () => {
			  const forms = document.getElementsByClassName('validation-form');

			  Array.prototype.filter.call(forms, (form) => {
			    form.addEventListener('submit', function (event) {
			      if (form.checkValidity() === false) {
			        event.preventDefault();
			        event.stopPropagation();
			      }

			      form.classList.add('was-validated');
			    }, false);
			  });
			}, false);
		 

		var autoHypenPhone = function(str) {
			str = str.replace(/[^0-9]/g, '');
			var tmp = '';
			if (str.length < 4) {
				return str;
			} else if (str.length < 7) {
				tmp += str.substr(0, 3);
				tmp += '-';
				tmp += str.substr(3);
				return tmp;
			} else if (str.length < 11) {
				tmp += str.substr(0, 3);
				tmp += '-';
				tmp += str.substr(3, 3);
				tmp += '-';
				tmp += str.substr(6);
				return tmp;
			} else {
				tmp += str.substr(0, 3);
				tmp += '-';
				tmp += str.substr(3, 4);
				tmp += '-';
				tmp += str.substr(7);
				return tmp;
			}

			return str;
		}

		var phoneNum = document.getElementById('mber_phone');

		phoneNum.onkeyup = function() {
			console.log(this.value);
			this.value = autoHypenPhone(this.value);
		}
	</script>

	<script>
		const authCodeInput = document.getElementById('auth-code-input');
		let serverAuthCode = '';
		const mailCheckBtn = document.getElementById('mail-check-btn');
		const mailCheckWarn = document.getElementById('mail-check-warn');
		const mailInputCheckWarn = document.getElementById('mail-input-check-warn');
		const spinner = document.getElementById('mail-check-spinner');
		const buttonText = document.getElementById('mail-check-btn-text');

		mailCheckBtn.addEventListener('click', function() {
			const email = document.getElementById('mber_email').value;
			
			console.log('이메일:', email);
	         if (email === '') {
	            mailInputCheckWarn.style.display = 'block';
	            mailInputCheckWarn.textContent = '이메일 인증을 위해 이메일을 입력하세요.';
	            mailInputCheckWarn.style.color = '#dc3545';
	            return
	        } else if (!email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
	            mailInputCheckWarn.style.display = 'block';
	            mailInputCheckWarn.textContent = '유효한 이메일 주소 형식으로 입력하세요.';
	            mailInputCheckWarn.style.color = '#dc3545';
	            return
	        }
			document.getElementById('mber_email').setAttribute('disabled',
					'disabled');
		 	spinner.classList.remove('d-none'); // 스피너 표시
			buttonText.textContent = '';

			const xhr = new XMLHttpRequest();
			xhr.open('POST', '/mber/mailauth', true);
			xhr.setRequestHeader('Content-Type',
					'application/x-www-form-urlencoded');

			xhr.onreadystatechange = function() {
				if (xhr.readyState === XMLHttpRequest.DONE) {
			 		spinner.classList.add('d-none'); // 스피너 숨김
					buttonText.textContent = '메일 인증'; 

					if (xhr.status === 200) {
						serverAuthCode = xhr.responseText.trim();
						const enteredAuthCode = authCodeInput.value.trim();
						console.log('수신된 검증 코드:', serverAuthCode);
						console.log('입력된 코드:', enteredAuthCode);

						authCodeInput.removeAttribute('disabled');
					} else {
						mailCheckWarn.textContent = '이메일 입력 오류';
						mailCheckWarn.style.color = 'red';
					}
				}
			};

			xhr.send(`email=${encodeURIComponent(email)}`);
		});

		// 인증 번호 확인 함수
		function checkAuthNumFn() {
			if (authCodeInput.value.length === 0) {
				mailCheckWarn.textContent = '';
			}
			
			if (authCodeInput.value.length >= 1) {
				mailCheckWarn.textContent = '인증번호 확인 중입니다...';
				mailCheckWarn.style.color = 'black';
			}
			
			if (authCodeInput.value.length === 6) {
				mailCheckWarn.style.color = 'black'; // 초기화
				if (serverAuthCode === authCodeInput.value) {
					// 서버에서 가져온 인증 코드와 입력한 코드가 일치하는 경우
					mailCheckWarn.textContent = '인증 성공';
					mailCheckWarn.style.color = 'green';
				} else {
					// 서버에서 가져온 인증 코드와 입력한 코드가 일치하지 않는 경우
					mailCheckWarn.textContent = '인증 실패';
					mailCheckWarn.style.color = 'red';
				}
			}
		}

		const birthdateInput = document.getElementById('mber_birth');
		const currentDate = new Date();
		const currentDateString = currentDate.toISOString().split('T')[0];

		birthdateInput.setAttribute('max', currentDateString);
		birthdateInput.setAttribute('value', currentDateString);
	</script>

</body>
</html>