<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="~{/include/header :: header}"></th:block>
<link rel="stylesheet" th:href="@{/css/mber/mber.css}">
<link rel="stylesheet" th:href="@{/css/mber/mber-header.css}">
</head>
<body>
	<header th:insert="~{/include/mber-header :: mberNavBar}"></header>
	<div class="bg">
		<video muted autoplay loop id="bgvid">
			<source src="/img/mber/background2.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="input-form-background row">
				<div class="input-form col-md-12 mx-auto opacity-95">

					<div class="col-md-12 text-center">
						<p class="fw-bold fs-2" th:text=#{sign.up}>회원가입</p>
					</div>
					<form th:action="@{/mber/signup}" method="post"
						class="validation-form" id="signupForm" novalidate>
						<div class="row mb-4">
							<div class="col-md-2">
								<label for="mber_id" class="fw-bold text-nowrap">
									<span th:text=#{id}>아이디</span>
									<span style="color: red;">*</span>
								</label>
							</div>
							<div class="col-md-10">
								<input type="text" class="form-control form-bid" id="mber_id"
									name="mberId"  th:attr="placeholder=#{enter.id}" autocomplete="off"
									onchange="checkId(this.value)" maxlength="12" required>
							</div>
							<div class="col-md-10">
								<div class="mber-feedback fw-bold" id="check-id-feedback"></div>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-md-2">
								<label for="mber_pwd" class="fw-bold text-nowrap">
									<span th:text=#{password}>비밀번호</span>
									<span class="align-middle" style="color: red;">*</span>
								</label>
							</div>
							<div class="col-md-10">
								<div class="pwd-input-wrap">
									<input type="password" class="form-control form-bid"
										id="mber_pwd" name="mberPwd" th:attr="placeholder=#{enter.password}" value=""
										onchange="checkPwd(this.value)" maxlength="16" required><i
										class="fa fa-eye see-pwd" id="see-pwd"></i>
								</div>
							</div>
							<div class="col-md-10">
								<div class="mber-feedback fw-bold" id="check-pwd-feedback"></div>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-md-2">
								<label for="mber_pwd_confirm"
									class="fw-bold text-nowrap align-middle">
									<span th:text=#{con.password}>비밀번호 확인</span>
									<span class="align-middle" style="color: red;">*</span>
								</label>
							</div>
							<div class="col-md-10">
								<div class="pwd-input-wrap">
									<input type="password" class="form-control form-bid"
										id="mber_pwd_confirm"
										th:attr="placeholder=#{con.password}" onchange="checkPasswordMatch()"
										maxlength="16" required><i class="fa fa-eye see-pwd" id="see-pwd-confirm"></i>
								</div>
							</div>
							<div class="col-md-10">
								<div class="mber-feedback fw-bold"
									id="check-pwd-confirm-feedback"></div>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-md-2">
								<label for="mber_name" class="fw-bold text-nowrap">
									<span th:text=#{name}>이름</span>
									<span class="align-middle" style="color: red;">*</span>
								</label>
							</div>
							<div class="col-md-10">
								<input type="text" class="form-control form-bid" id="mber_name"
									name="mberName" th:placeholder=#{enter.name}
									onchange="checkName(this.value)" autocomplete="off" required>
							</div>
							<div class="mber-feedback fw-bold" id="check-name-feedback"></div>
						</div>
						<div class="row mb-4">
							<div class="col-md-2">
								<label for="mber_birth" class="fw-bold" th:text=#{birth}>생년월일</label>
							</div>
							<div class="col-md-4">
								<input type="date" class="form-control form-bid" id="mber_birth"
									name="mberBirth" value="" autocomplete="off"
									onkeydown="return false">
							</div>
							<div class="col-md-2">
								<label for="mber_gender" class="fw-bold text-nowrap">
									<span th:text=#{gender}>성별</span>
									<span class="align-middle" style="color: red;">*</span>
								</label>
							</div>
							<div class="col-md-4">
								<select name="mberGenderCode" class="form-select"
									id="mber_gender" required>
									<option value="" disabled selected th:text=#{sel.gender}>성별 선택</option>
									<option value="C0101" th:text=#{men}>남자</option>
									<option value="C0102" th:text=#{women}>여자</option>
									<option value="C0103" th:text=#{private}>비공개</option>
								</select>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col-md-2">
								<label for="mber_email" class="fw-bold">
								<span th:text=#{email}>이메일</span>
								<span class="align-middle" style="color: red;">*</span></label>
							</div>
							<div class="col-md-7">
								<input type="email" id="mber_email"
									class="form-control form-bid" name="mberEmail"
									th:attr="placeholder=#{enter.email}" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
									autocomplete="off" onkeyup="checkEmail(this.value)" required>
							</div>
							<div class="col-md-3">
								<button type="button" tabindex="-1" id="email-check-btn"
									class="form-control emailauth-btn" disabled>
									<span id="email-check-btn-text" th:text=#{email.auth}>메일 인증</span>
									<div
										class="spinner-border text-info spinner-border-sm ms-2 d-none"
										role="status" id="email-check-spinner"></div>
								</button>
							</div>
							<div class="col-md-12">
								<div class="mber-feedback" id="check-email-feedback"></div>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-md-2">
								<label for="auth-code-input" class="fw-bold">
								<span th:text=#{auth.num}>인증번호</span>
								<span class="align-middle" style="color: red;">*</span></label>
							</div>
							<div class="col-md-10">
								<input type="text" id="auth-code-input"
									class="form-control mail-check-input" th:attr="placeholder=#{enter.auth}"
									disabled="disabled" maxlength="6"
									oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
									onkeyup="checkAuthNum(this.value)">
							</div>
							<div class="col-md-12">
								<div class="mber-feedback fw-bold" id="check-authnum-feedback"></div>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-md-2">
								<label for="mber_phone" class="fw-bold" th:text=#{phone}>전화번호</label>
							</div>
							<div class="col-md-10">
								<input type="text" id="mber_phone" name="mberPhone"
									class="form-control form-bid" th:attr="placeholder=#{enter.phone}"
									oninput="oninputPhone(this)"
									maxlength="13" autocomplete="off">
							</div>
							<div class="col-md-12">
								<div class="mber-feedback fw-bold" id="check-phone-feedback"></div>
							</div>
						</div>
						<div class="row mb-2">
							<hr class="mb-2">
						</div>
						<div class="row">
							<div class="col-md-12 mb-2">
								<div class="form-check form-switch">
									<input type="checkbox" class="form-check-input" id="aggrement"
										required> <label class="form-check-label fw-bold"
										for="aggrement" th:text=#{agree}>개인정보 수집 및 이용에 동의합니다.</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="mb-2"></div>
							<button type="submit" class="btn btn-lg" id="signup-btn" th:text=#{sign.up.btn}>가입완료</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/mber/signup.js}"></script>
	<script th:src="@{/js/mber/mber.js}"></script>
</body>
</html>