<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<link rel="stylesheet" th:href="@{/css/mber/verifypwd.css}">
<th:block th:replace="~{/include/header :: header}"></th:block>

</head>

<body>
	<header th:insert="~{/include/body-header :: userNavBar}"></header>
	<div class="container-md">
		<div class="menu fw-bold">마이페이지</div>
		<div
			class="border-bottom border-top border-2 fw-bold border-dark mb-5 text-center p-5">
			<div class="mt-5 row">
				<div class="col-md-12">
					마이페이지는 회원님의 소중한 개인정보가 있는 공간입니다. <br>
				</div>
			</div>
			<div class="mb-5 row">
				<div class="col-md-12">접근을 위해서는 비밀번호를 입력해주세요.</div>
			</div>


			<form th:action="@{/mber/verifypwd}" method="post"
				class="validation-form" id="verifyPwdForm" novalidate>
				<div class="mb-3 row justify-content-center">
					<div class="col-md-3">
						<span class="input-group-text"> <input type="password"
							class="enter form-bid" id="mber_pwd" name="mberPwd"
							placeholder="비밀번호 입력"
							pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,16}$"
							required><i class="fa fa-eye" id=see_pwd></i></span>
					</div>
					<div class="col-md-2">
						<button type="submit" tabindex="-1" class="btn form-control"
							id="edit-btn">확인</button>
					</div>
				</div>
				<div class="mb-5 row justify-content-center">
					<div class="col-md-4">
						<div th:if="${message != null}" class="password-feedback fw-bold"
							role="alert" th:text="${message}"></div>
					</div>
				</div>
			</form>
		</div>

	</div>
	<footer th:insert="~{/include/body-footer :: userFooter}"></footer>
	<script>
		$(document).ready(function() {
			$('#see_pwd').on('click', function() {
				var passwordInput = $('#mber_pwd');
				var eyeIcon = $(this);

				if (passwordInput.attr('type') === 'password') {
					passwordInput.attr('type', 'text');
					eyeIcon.attr('class', 'fa fa-eye-slash');
				} else {
					passwordInput.attr('type', 'password');
					eyeIcon.attr('class', 'fa fa-eye');
				}
			});
		});
	</script>
</body>
</html>