<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <div th:replace="~{/include/admin-head :: adminHead}"></div>-->
<!--    <link rel="stylesheet" href="/css/content/default.css">-->
<!--    <link rel="stylesheet" href="/css/content/ui-ie.css">-->
<!--    <link rel="stylesheet" href="/css/content/cntntManage.css">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>-->
<!--</head>-->
<!--<body>-->

<!--<div class="layout d-flex justify-content-center mb-5"></div>-->


<!--<script src="/vendor/jquery/jquery.min.js"></script>-->
<!--<script src="/js/goods/goodsListMain.js" defer></script>-->

<!--</body>-->

<!--</html>-->
