<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="/css/content/default.css">-->
<!--    <link rel="stylesheet" href="/css/content/ui-ie.css">-->
<!--    <link rel="stylesheet" href="/css/goods/makeGoodsInNav.css">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>-->
<!--</head>-->
<!--<body>-->

<!--<div class="page">-->
<!--    <div class="header">-->
<!--        <h2>상품 생성</h2>-->
<!--    </div>-->
<!--    <aside class="secondary secondary-a" th:insert="~{/include/admin-sideBar :: adminSideBar}">-->
<!--    </aside>-->
<!--    &lt;!&ndash;    값이 있는거 수정할 때&ndash;&gt;-->
<!--    <div th:if="${not #strings.isEmpty(goods)}" class="main">-->
<!--        <input type="hidden" id="goodsId" th:value="${goods.getGoodsId()}">-->
<!--        <div class="img" id="pictures">-->
<!--            &lt;!&ndash;            <button style="z-index: 10; position: sticky !important;"&ndash;&gt;-->
<!--            &lt;!&ndash;                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"&ndash;&gt;-->
<!--            &lt;!&ndash;                    th:key="${goods.goodsFileId}"&ndash;&gt;-->
<!--            &lt;!&ndash;                    onclick="delGoodsFile(this.getAttribute('key'))">X&ndash;&gt;-->
<!--            &lt;!&ndash;            </button>&ndash;&gt;-->

<!--            <img th:src="@{'/img/goods/' + ${goods.goodsFileId}}" th:goodsId="${goods.goodsFileId}"-->
<!--                 th:id="${goods.goodsFileId}" alt="" class="photoFrame"-->
<!--                 onclick="removeFile(this.getAttribute('goodsId'))">-->

<!--        </div>-->
<!--        사진을 클릭하면 삭제됩니다!-->
<!--        <div class="input-group mb-3 file-append-box">-->
<!--            <input type="file" class="form-control" id="input-file" name="files" multiple="multiple">-->
<!--            <label class="input-group-text" for="input-file">Upload</label>-->
<!--        </div>-->
<!--        <div class="table">-->
<!--            &lt;!&ndash;        <form action="/cs/goods/creategoods" method="post" enctype="multipart/form-data">&ndash;&gt;-->
<!--            <table class="table caption-top">-->
<!--                <caption>상품 상세 정보</caption>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <th scope="row">상품 이름</th>-->
<!--                    <td><input id="name" name="name" type="text" th:value="${goods.getGoodsName()}" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">상품 브랜드</th>-->
<!--                    <td><input id="brand" name="brand" type="text" th:value="${goods.getGoodsBrand()}" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">상품 가격(원)</th>-->
<!--                    <td><input id="price" name="price" type="text" th:value="${goods.getGoodsPrice()}" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">상품 구매링크</th>-->
<!--                    <td><input id="link" name="link" type="text" th:value="${goods.getGoodsPurchsLink()}" required></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->


<!--        <div class="item keyword" id="keywordList">-->


<!--            <div class="newKeyword">-->
<!--                <div class="keywordItem" th:each="keyword : ${keywordList}" th:id="${keyword}">-->
<!--                    <button type="button" style="margin-left: 10px"-->
<!--                            class="btn btn-primary position-relative keywordButton"-->
<!--                            th:text="${keyword}">-->
<!--                    </button>-->
<!--                    <button style="z-index: 10; position: sticky !important;"-->
<!--                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"-->
<!--                            th:key="${keyword}"-->
<!--                            onclick="delKeyword(this.getAttribute('key'))">X-->
<!--                    </button>-->
<!--                    &lt;!&ndash;                    <h2 th:text="${keyword}"></h2>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="keywordInput">-->
<!--                <input type="text" id="inputKeyword" placeholder="키워드 입력">-->
<!--            </div>-->
<!--            <button type="button" class="btn btn-outline-dark" onclick="makeKeyword()">키워드 추가</button>-->
<!--        </div>-->

<!--        <input type="hidden" th:value="${goods.getGoodsId()}" id="targetGoodsId">-->
<!--        <div class="button-box">-->
<!--            <button type="button" class="btn btn-primary" onclick="updateGoods()">상품 수정</button>-->
<!--            <button type="button" class="btn danger" onclick="cancle()">취소</button>-->
<!--        </div>-->
<!--    </div>-->


<!--    &lt;!&ndash;    값이 없는거 생성할때&ndash;&gt;-->
<!--    <div th:if="${#strings.isEmpty(goods)}" class="main">-->
<!--        <h3 style="text-align: center">상품사진</h3>-->
<!--        <hr>-->
<!--        <div class="img" id="pictures" >-->
<!--        </div>-->
<!--        <div class="input-group mb-3 file-append-box">-->
<!--            <input type="file" class="form-control" id="input-file" name="files" multiple="multiple">-->
<!--            <label class="input-group-text" for="input-file">Upload</label>-->
<!--        </div>-->
<!--        <h3 style="text-align: center">상품정보</h3>-->
<!--        <hr>-->
<!--        <div class="table">-->

<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">상품 이름</span>-->
<!--                <input type="text" id="name" name="name" class="form-control" placeholder="상품 이름을 입력하세요"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">상품 브랜드</span>-->
<!--                <input type="text" id="brand" name="brand" class="form-control" placeholder="상품 브랜드를 입력하세요"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">상품 가격(원)</span>-->
<!--                <input type="text" id="price" name="price" class="form-control" placeholder="상품 가격을 입력하세요"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">상품 구매링크</span>-->
<!--                <input type="text" id="link" name="link" class="form-control" placeholder="상품 구매링크를 입력하세요"-->
<!--                        required>-->
<!--            </div>-->

<!--        </div>-->


<!--        <div class="item keyword" id="keywordList">-->
<!--            <div class="newKeyword">-->

<!--            </div>-->

<!--            <div class="input-group mb-3">-->
<!--                <div class="keywordInput">-->
<!--                <input id="inputKeyword" type="text" class="form-control" placeholder="키워드를 입력하세요" >-->
<!--                </div>-->
<!--                <button class="btn btn-outline-secondary" type="button" id="button-addon2"  onclick="makeKeyword()">키워드 추가</button>-->
<!--            </div>-->

<!--        </div>-->





<!--        <div class="button-box">-->
<!--            <button type="button" class="btn btn-primary" onclick="createGoods()">상품 생성</button>-->
<!--        </div>-->


<!--    </div>-->


<!--</div>-->
<!--<script src="/vendor/jquery/jquery.min.js"></script>-->
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--<script src="/js/goods/makeGoods.js"></script>-->
<!--</body>-->
<!--</html>-->
