<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <div th:insert="~{/include/new-admin-head :: newAdminHead}"></div>
    <link rel="stylesheet" th:href="@{/css/content/content.css}">
    <link rel="stylesheet" th:href="@{/css/goods/new-make-goods-in-cntnt-make-form.css}">
</head>
<body>

<div>

    <!--    값이 없는거 생성할때-->
    <div th:if="${#strings.isEmpty(goods)}" class="container page">
        <form action="" class="validation-form" onsubmit="createGoodsInCntnt();" novalidate>
            <div class="img-side">
                <h3 style="text-align: center">상품사진</h3>
                <hr>
                <div class="img" id="pictures">
                </div>
                <div class="input-group mb-3 file-append-box">
                    <input type="file" class="form-control" id="input-file" name="files" required>
                    <label class="input-group-text" for="input-file">Upload</label>
                    <div class="invalid-feedback">상품 이미지를 입력해주세요.</div>
                </div>
            </div>
            <div class="info-side">
                <h3 style="text-align: center">상품정보</h3>
                <hr>
                <div class="table">

                    <div class="input-group mb-3">
                        <span class="input-group-text">상품 이름</span>
                        <input type="text" id="name" name="name" class="form-control" placeholder="상품 이름을 입력하세요"
                               required>
                        <div class="invalid-feedback">상품이름을 입력해주세요.</div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">상품 브랜드</span>
                        <input type="text" id="brand" name="brand" class="form-control" placeholder="상품 브랜드를 입력하세요"
                               required>
                        <div class="invalid-feedback">상품 브랜드를 입력해주세요.</div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">상품 가격</span>
                        </div>
                         <input type="number" id="price" name="price" max="100000000000" class="form-control" placeholder="상품 가격을 입력하세요"
                               required>
                        <div class="invalid-feedback">상품 가격을 입력해주세요.</div>
                        <div class="input-group-append">
                            <span class="input-group-text">원</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">상품 구매링크</span>
                        <input type="text" id="link" name="link" class="form-control" placeholder="상품 구매링크를 입력하세요"
                               required>
                        <div class="invalid-feedback">상품 구매링크를 입력해주세요.</div>
                    </div>

                </div>

                <div class="item keyword" id="keywordList">
                    <div class="newKeyword">

                    </div>


                </div>
                <div class="input-group mb-3">
                    <form id="searchForm" class="input-group">
                        <div class="keywordInput">
                            <input id="inputKeyword" type="text" class="form-control" placeholder="키워드를 입력하세요">
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                onclick="makeKeyword()">
                            키워드
                            추가
                        </button>
                    </form>
                </div>
                <div class="button-box">
                    <button type="submit" class="btn btn-primary" >상품 생성</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/goods/makeGoods.js"></script>

</body>
</html>
