<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <div th:replace="~{/include/new-admin-head :: newAdminHead}"></div>
    <link rel="stylesheet" th:href="@{/css/content/content.css}">
    <link rel="stylesheet" th:href="@{/css/goods/new-goods-main.css}">

</head>
<body>
<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>

<div class="layout">
    <div class="search">
        <form id="searchForm" class="input-group">
            <input type="text" id="search-input" placeholder="검색어를 입력하세요" class="form-control">
            <button class="btn" id="search-button" onclick="searchKeyword()" type="button" value="찾기">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

    <section class="primary">
        <ul class="card-list" id="card-list">

        </ul>
    </section>

    <div class="new-button container">
        <a href="/cs/test/goods/form" type="button" class="new-button btn btn-primary">생성</a>
    </div>

    <!--    <footer class="footer" th:replace="~{/include/admin-footer :: admin-footer}">-->

    <!--    </footer>-->


</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/goods/goodsListMain.js" defer></script>

</body>
</html>
