<div class="container">
    <header class="header">
        <div class="search" style=" width: 50%; margin: auto; padding-top: 30px; height: 80%;">
            <form id="searchForm" class="input-group">
                <input type="text" id="search-input" placeholder="검색어를 입력하세요" class="form-control">
                <input id="search-button" onclick="searchKeyword()" type="button" value="찾기">
            </form>
        </div>
        <a href="/cs/test/goods/cntnt/form" type="button" class="new-button btn btn-primary" style="margin-top: 55px;">생성</a>
    </header>

    <section class="primary">
        <ul class="card-list" id="card-list" >
            <div th:each="goods : ${goodsList}" id="goodsBox">
                <div class="col-xl-3 col-lg-6">
                    <div class="single-category mb-30"
                         th:goodsId="${goods.goodsId}"
                         onclick="addList(this.getAttribute('goodsId'))">
                        <div class="category-img"  style="width: 300px; height: 400px">

                            <img style="width: 300px; height: 400px; margin:auto; display: block" th:id="${goods.goodsId}"
                                 th:src="@{/img/goods/{image}(image=${goods.goodsFileId})}" alt="">
                            <div class="category-caption">
                                <h6 style="text-align: center;" th:text="${goods.goodsName}"></h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ul>
    </section>

    <div class="new-button">
        <button class="new-button btn btn-primary" type="button" onclick="selectEnd()">선택</button>

    </div>


    <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:if="${nowPageBlock>1}">
                <a class="page-link prepage" id="prepage" onclick="prePageF()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>


            <li class="page-item" th:each="i: ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${i==nowPage}?active">
                <a class="page-link selpage" id="selpage"
                   th:pageNum="${i}"
                   onclick="selPageF(this.getAttribute('pageNum'))" th:data-selpage="${i}">[[${i}]]</a>
            </li>

            <li class="page-item" th:if="${nowPageBlock<totalPageBlock}">
                <a class="page-link nexpage" id="nexpage" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <!--    <footer class="footer" th:replace="~{/include/admin-footer :: admin-footer}">-->

    <!--    </footer>-->

</div>
<script src="/js/goods/goodsListMainInCntntMakeForm.js" defer></script>

