<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS Grid</title>
    <link rel="stylesheet" href="/css/content/default.css">
    <link rel="stylesheet" href="/css/content/ui-ie.css">
    <link rel="stylesheet" href="/css/content/cntntManage.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body>

<div class="page">
    <div class="header" style="display: flex; background-color: #1e52ad">
        <!--        <div class="logo" style="width: 200px; >-->
        <a th:href="@{/}"><img src="/img/mainLogo.png" class="img-fluid" alt="브랜드 로고" style="width: 230px"></a>
        <ul class="icons" style="display: flex">
            <li class="myPage"><a th:href="@{/mber/verifypwd}"><i class="fa-solid fa-user"></i> MY PAGE</a></li>
            <li class="login" sec:authorize="isAnonymous()"><a th:href="@{/mber/signin}"><i
                    class="fa-solid fa-door-closed" sec:authorize="isAnonymous()"></i> LOGIN</a></li>
            <li class="logout" sec:authorize="isAuthenticated()"><a th:href="@{/mber/signout}"><i
                    class="fa-solid fa-door-open" sec:authorize="isAuthenticated()"></i> LOGOUT</a></li>
        </ul>
        <!--        </div>-->
    </div>

    <!--    <header class="header">-->
    <!--        <h1 class="website-title">k-spectrum</h1>-->
    <!--        <form class="search-form" id="search-form">-->
    <!--            <input type="search" id="search-input">-->
    <!--            <input id="search-button" onclick="searchButton()" type="button" value="찾기">-->
    <!--        </form>-->
    <!--    </header>-->
    <section class="primary">
        <ul class="card-list" id="card-list">

        </ul>
    </section>

    <aside class="secondary secondary-a" th:insert="~{/include/admin-sideBar :: adminSideBar}">
    </aside>


    <!-- </div> -->
    <div class="new-button">
        <a href="content/new">생성</a>
        <a type="button" href="recomm">추천</a>
    </div>

    <footer class="footer" th:insert="~{/include/admin-footer :: admin-footer}">
    </footer>

</div>


<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/js/cntnt/cntntManagement.js" defer></script>

</body>

</html>
