<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/content/content.css}">
    <link rel="stylesheet" th:href="@{/css/content/new-admin-cntnt-main.css}">

</head>

<body>
<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>
<div class="search" style=" width: 70%; margin-left: 10%; padding-top: 30px; height: 80%;">
   <div style="display: flex">
        <div class="screen-title btn">컨텐츠 추천</div>
        <input type="text" id="search-input" placeholder="검색어를 입력하세요" class="form-control" onkeydown="handleKeyDown(event)">
        <input type="button" class="btn" onclick="searchButton()" value="찾기">
   </div>
</div>

<section class="primary container">


    <ul class="card-list" id="card-list">

    </ul>


</section>

<script src="/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/js/body-header.js}"></script>
<script src="/js/cntnt/cntntRecom.js"></script>


</body>
</html>
