<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/content/content.css}">
    <link rel="stylesheet" th:href="@{/css/content/new-admin-cntnt-main.css}">

</head>

<body>
<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>
<div class="search" style=" width: 50%; margin: auto; padding-top: 30px; height: 80%;">
    <form id="searchForm" class="input-group">
        <input type="text" id="search-input" placeholder="검색어를 입력하세요" class="form-control">
        <button type="button" class="btn" onclick="searchButton()">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<section class="primary container">

    <div id="main-cate" class="categories-nav">
        <ul class="categories">
            <li th:each="cate : ${cateList}" class="cate" th:data-maincate-value="${cate}">[[${cate}]]</li>
        </ul>
    </div>

    <ul class="card-list" id="card-list">

    </ul>

    <div class="position-relative">
        <nav aria-label="Page navigation" class="d-flex justify-content-center" id="page">
            <ul class="pagination">
                <li class="page-item" th:if="${nowPageBlock>1}">
                    <a class="page-link prepage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:each="i: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${i==nowPage}?active" th:id="${i}" th:value="${i}">
                    <a class="page-link selpage" th:data-selpage="${i}" th:text="${i}"></a>
                </li>

                <li class="page-item" th:if="${nowPageBlock<totalPageBlock}">
                    <a class="page-link nexpage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="col-2 position-absolute top-0 end-0 button-box">
            <a class="btn border" href="test/content/new">생성</a>
            <a class="btn border" type="button" href="test/recomm">추천</a>
        </div>
    </div>

</section>

<script src="/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/js/body-header.js}"></script>
<script th:src="@{/js/cntnt/cntntManagement.js}"></script>

<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        var page = "[[${session.page}]]";
        var cate = [[${session.cate}]];

        if (page == 'null') {
            page = 1;
        }

        if (cate == 'null') {
            cate = 'All';
        }

        $.ajax({
            url: '/cs/test/contents/' + page,
            type: 'GET',
            data: {'page': page, 'cate': cate},
            success: function (contentList) {
                const element = document.getElementById('card-list');

                for (var i = contentList.length - 1; i >= 0; i--) {
                    inHtml = `
                        <li class="card-item" id="card-item" onclick="cntntDetail(${contentList[i].cntntId})">
                            <figure class="card-image"style="background-image: url(${contentList[i].cntntThumnail})">
                                <img src=${contentList[i].cntntThumnail} >
                            </figure>
                            <div class="card-desc">
                               ${contentList[i].cntntTitle}
                            </div>
                        </li>`;
                    element.insertAdjacentHTML("afterbegin", inHtml);
                }

            }, error: function (error) {
                console.error('에러 발생: ', error);
            }
        })

        $(".cate").click(function () {
            cate = this.getAttribute('data-maincate-value');
            var page = 1;

            $.ajax({
                url: '/cs/test/contents/' + page,
                type: 'GET',
                data: {'page': page, 'cate': cate},
                success: function (contentList) {
                    const element = $('#card-list');
                    element.empty();

                    console.log(contentList.length);

                    if (contentList.length == 0) {
                        inHtml = `
	                   	<div class="container text-center mt-5">
	                		<img alt="" src="/img/fail.png">
	                	</div>`
                        element.append(inHtml);
                    } else {
                        for (i = 0; i < contentList.length; i++) {
                            inHtml = `
			            <li class="card-item" id="card-item" onclick="cntntDetail(${contentList[i].cntntId})">
			                <figure class="card-image"style="background-image: url(${contentList[i].cntntThumnail})">
			                    <img src=${contentList[i].cntntThumnail} >
			                </figure>
			                <div class="card-desc">
			                   ${contentList[i].cntntTitle}
			                </div>
			            </li>`;
                            element.append(inHtml);
                        }
                    }

                    const pageNav = $('#page');
                    pageNav.empty();

                    $.ajax({
                        url: '/cs/test/paging',
                        type: 'GET',
                        data: {'page': page, 'cate': cate},
                        success: function (data) {
                            pageNav.append(data);
                        }
                    })

                }
            })
        })

        $(document).on("click", ".selpage", function () {
            var nowPage = $(this).data("selpage");

            $.ajax({
                url: "/cs/test/contents/" + nowPage,
                method: "get",
                data: {'page': nowPage, 'cate': cate},
                success: function (contentList) {
                    const element = $('#card-list');
                    element.empty();

                    for (i = 0; i < contentList.length; i++) {
                        inHtml = `<li class="card-item" id="card-item" onclick="cntntDetail(${contentList[i].cntntId})">
						                <figure class="card-image"style="background-image: url(${contentList[i].cntntThumnail})">
						                    <img src=${contentList[i].cntntThumnail} >
						                </figure>
						                <div class="card-desc">
						                   ${contentList[i].cntntTitle}
						                </div>
						            </li>`;
                        element.append(inHtml);
                    }
                    $(".page-item").removeClass("active");
                    $("#" + nowPage).addClass("active");

                }, error: function (error) {
                    console.error('에러 발생: ', error);
                }
            })
        })

        $(".prepage").click(function () {
            var prePage = $(this).data("prepage") - 1;

            $.ajax({
                url: "/cs/test/contents/" + prePage,
                method: "get",
                success: function (contentList) {
                    const element = document.getElementById('card-list');

                    for (i = 0; i < contentList.length; i++) {
                        inHtml = `
		            <li class="card-item" id="card-item" onclick="cntntDetail(${contentList[i].cntntId})">
		                <figure class="card-image"style="background-image: url(${contentList[i].cntntThumnail})">
		                    <img src=${contentList[i].cntntThumnail} >
		                </figure>
		                <div class="card-desc">
		                   ${contentList[i].cntntTitle}
		                </div>
		            </li>`;
                        element.insertAdjacentHTML("afterbegin", inHtml);
                    }

                }, error: function (error) {
                    console.error('에러 발생: ', error);
                }
            })
        })

        $(".nexpage").click(function () {
            var nexPage = $(this).data("nexpage") + 1;

            $.ajax({
                url: "/cs/test/contents/" + prePage,
                method: "get",
                seccess: function (contentList) {
                    console.log(contentList);
                }
            })
        })
    });
    function searchButton() {
        var requestData = {
            searchKeyword: document.getElementById('search-input').value
        };

        $.ajax({
            url: '/cs/test/contents/search',
            type: 'GET',
            data: requestData,
            success: function (contentList) {
                const element = document.getElementById('card-list');
                element.innerHTML = '';
                if (contentList.length != 0) {
                    for (i = 0; i < contentList.length; i++) {
                        inHtml = `
            <li class="card-item" id="card-item" onclick="cntntDetail(${contentList[i].cntntId})">
                <figure class="card-image"style="background-image: url(${contentList[i].cntntThumnail})">
                    <img src=${contentList[i].cntntThumnail} >
                </figure>
                <div class="card-desc">
                   ${contentList[i].cntntTitle}
                </div>
            </li>`;
                        element.insertAdjacentHTML("afterbegin", inHtml);

                    }
                } else {
                    inHtml = `
            <div>
            관련 콘텐츠가 존재하지 않습니다.
            </div>`;
                    element.insertAdjacentHTML("afterbegin", inHtml);
                }


            }, error: function (error) {
                console.error('에러 발생: ', error);
            }
        });
    }
</script>
<script th:inline="javascript" th:if="${session.isTempPwd != null}">
    function showTempPwdToast() {

        const toastLiveExample = document.getElementById('liveToast');
        toastLiveExample.removeAttribute('display');
        const toastBootstrap = new bootstrap.Toast(toastLiveExample);
        toastBootstrap.show();
    }

    // 페이지 로드 시 토스트를 확인하여 표시 여부 결정
    window.onload = showTempPwdToast;

    // 콘텐츠 클릭 시 디테일 페이지 보여주기
</script>

</body>
</html>
