<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS Grid</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/content/default.css">
    <link rel="stylesheet" href="/css/content/ui-ie.css">
    <link rel="stylesheet" href="/css/content/cntntMakeForm.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body>
<input type="checkbox" id="modal-switch">
<div class="page">
    <header class="header">
        <h1 class="website-title">k-spectrum</h1>

    </header>
    <!--    값이 있는거 수정할 때-->
    <div th:if="${not #strings.isEmpty(content)}">
        <input type="hidden" id="insertOrModify" value="수정">
        <!--    main-->
        <input type="hidden" id="contentURL" th:value="${content.cntntUrl}">
        <input type="hidden" id="url" th:value="${content.cntntUrl}">
        <input type="hidden" id="cntntId" th:value="${content.cntntId}">
        <div class="main-content">

            <p>
            <div id="iframe" th:src="${content.cntntUrl}" alt="">
            </div>
            </p>

            <select name="category" id="category">
                <option id="commonCode"
                        th:each="category : ${category}" th:value="${category.getCommonCode()}"
                        th:text="${category.getCommonCodeVal()}"
                        th:selected="${category.getCommonCode()} == ${content.getCntntCateCode()}"
                ></option>
            </select>
            <div class="item category-caption iframe-title">
                <input style="text-align: center; " id="title" th:value="${content.cntntTitle}">
            </div>

            <!--키워드-->
            <div class="item keyword" id="keywordList">
                <div class="keywordItem" th:each="keyword : ${keywordList}" th:id="${keyword}">

                    <button type="button" style="margin-left: 10px"
                            class="btn btn-primary position-relative keywordButton"
                            th:text="${keyword}">
                    </button>
                    <button style="z-index: 10; margin-left: -10px"
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            th:key="${keyword}"
                            onclick="delKeyword(this.getAttribute('key'))">X
                    </button>

                    <!--                    <h2 th:text="${keyword}"></h2>-->
                </div>

                <div class="newKeyword">

                </div>
                <div class="keywordInput">
                    <input type="text" id="inputKeyword" placeholder="키워드 입력">
                    <button onclick="makeKeyword()" style="margin: auto">키워드 추가</button>
                </div>
            </div>


            <div class="item goods-box" id="goodsList">
                <div th:each="goods : ${goodsJFileList}" id="goodsId">
                    <div th:id="${goods.goodsId}">
                        <a>
                            <div class="card" style="width: 18rem; height: 240px">
                                <div style="width:18rem; height:140px">
                                    <img style="width:100%; height:100%"
                                         th:src="@{/img/goods/{image}(image=${goods.goodsFileId})}" class="card-img-top"
                                         alt="...">
                                </div>
                                <div style="width:18rem; height:100px;border:1px solid">
                                    <h5 class="text-center" th:text="${goods.goodsName}">Card title</h5>
                                    <p class="text-center" th:text="${goods.goodsPrice} + ' 원'"></p>
                                    <p class="text-center" th:text="${goods.goodsBrand}"></p>
                                </div>
                                <input type="hidden" class="goodsList" th:value="${goods.goodsId}">
                                <button style="z-index: 10; margin-left: -10px"
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                        th:goodsID="${goods.goodsId}"
                                        onclick="delGoods(this.getAttribute('goodsID'))">X
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--비어 있을 때-->
    <div th:if="${#strings.isEmpty(content)}">
        <div class="main-content">
            <input type="hidden" id="insertOrModify" value="생성">
            <p>
            <div class="ifrmae" id="iframe" alt="" style="background-color: #0b1c39">
            </div>
            </p>
            <div class="item category-caption iframe-url ifrmae">
                URL: <input id="url" style="text-align: center; ">
                <button id="print-iframe" onclick="printIframe()" type="button">출력</button>
            </div>
            <select name="category" id="category">
                <option id="commonCode"
                        th:each="category : ${category}" th:value="${category.getCommonCode()}"
                        th:text="${category.getCommonCodeVal()}"

                ></option>
            </select>

            <div class="item category-caption iframe-title ifrmae">
                TITLE: <input id="title" style="text-align: center; ">
            </div>

            <div class="item keyword" id="keywordList">
                <div class="newKeyword">

                </div>
                <div class="keywordInput">
                    <input type="text" id="inputKeyword" placeholder="키워드 입력">
                    <button onclick="makeKeyword()" style="margin: auto">키워드 추가</button>
                </div>
            </div>


            <div class="item goods-box" id="goodsList">
            </div>
        </div>
    </div>
    <div class="button-box">
        <button th:onclick="goodsNewPage()">상품 추가</button>
        <button onclick="createContent()">저장</button>
    </div>

    <aside class="secondary secondary-a" th:insert="~{/include/admin-sideBar :: adminSideBar}">
    </aside>

</div>


<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/js/cntnt/contentMakeForm.js" defer></script>

</body>

</html>
