<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
<link rel="stylesheet" th:href="@{/css/mber/cmsMber.css}">
</head>
<body>
	<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>
	<div class="container mb-3 mt-5">
		<div class="content">
			<div class="row">
				<div class="col-md-12">

					<div id="mberTable"
						class="table-layout mber-table table table-group-divider">

						<div class="search my-3">
							<form name="findMber" onsubmit="searchMber(); return false;">
								<div class="row justify-content-center">
									<div class="col-md-2">
										<select name="findType" id="findType"
											class="form-control form-select mr-2">
											<option value="1">이름</option>
											<option value="2">아이디</option>
											<option value="3">이메일</option>
											<option value="4">전화번호</option>
										</select>
									</div>
									<div class="col-md-5">
										<div class="input-group">
											<input type="text" name="findKeyword" id="findKeyword"
												placeholder="검색어를 입력하세요" class="form-control mr-2">
											<button type="submit" class="btn" id="search-btn">
												<i class="fa-solid fa-magnifying-glass"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th class="serial">#</th>
									<th>계정구분</th>
									<th>아이디</th>
									<th>이름</th>
									<th>이메일</th>
									<th>성별</th>
									<th>생년월일</th>
									<th>전화번호</th>
									<th>가입일시</th>
									<th>수정일시</th>
									<th>계정상태</th>
									<th>상태수정</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation"
			class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item" th:if="${nowPageBlock>1}"><a
					class="page-link prepage" aria-label="Previous"> <span
						aria-hidden="true">&laquo;</span>
				</a></li>

				<li class="page-item"
					th:each="i: ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${i==nowPage}?active"><a
					class="page-link selpage" th:data-selpage="${i}">[[${i}]]</a></li>

				<li class="page-item" th:if="${nowPageBlock<totalPageBlock}"><a
					class="page-link nexpage" aria-label="Next"> <span
						aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>
	</div>
	<script>
		var currentPage = "[[${nowPage}]]";
		var startPage = "[[${startPage}]]";
		var endPage = "[[${endPage}]]";
		var totalPageBlock = "[[${totalPage}]]";
		

		$(document).ready(function() {
			// 페이지 로딩 시 초기 데이터 가져오기
			loadMberData(currentPage);
		});
		// 페이지네이션 링크 클릭 시 데이터 다시 가져오기
 		$(".pagination").on("click", "a", function(event) {
			event.preventDefault(); // 기본 이벤트 취소 (페이지 이동 방지)
			var page = $(this).attr("href").split("/").pop(); // 클릭한 링크의 페이지 번호 가져오기
			loadMberData(page); // 데이터 비동기로 가져오기
		}); 

		function loadMberData(page) {
			currentPage = page; // 현재 페이지 업데이트
			$
				.ajax({
					type: 'GET',
					url: '/cs/mber/list/' + page,
					dataType: 'json',
					success: function(data) {
						// 회원 정보를 표시할 HTML을 생성
						var html = '';
						data
							.forEach(function(mber, index) {
								var rownum = (page - 1) * 10 + index
									+ 1;
								html += '<tr>';
								html += '<td>' + rownum++ + '</td>';
								html += '<td>' + mber.mberRole
									+ '</td>';
								html += '<td>' + mber.mberId + '</td>';
								html += '<td>' + mber.mberName
									+ '</td>';
								html += '<td>' + mber.mberEmail
									+ '</td>';
								html += '<td>' + mber.mberGenderCode
									+ '</td>';
								if (mber.mberBirth == null) {
									html += '<td>-</td>';
								} else {
									html += '<td>' + mber.mberBirth
										+ '</td>';
								}
								if (mber.mberPhone == null) {
									html += '<td>-</td>';
								} else {
									html += '<td>' + mber.mberPhone
										+ '</td>';
								}
								html += '<td>' + mber.mberRegistDate
									+ '</td>';
								if (mber.mberUpdateDate == null) {
									html += '<td>-</td>';
								} else {
									html += '<td>'
										+ mber.mberUpdateDate
										+ '</td>';
								}
								if (mber.mberStat == '비활성화') {
									html += '<td class="fw-bold text-danger">'
										+ mber.mberStat + '</td>';
								} else {
									html += '<td class="fw-bold">'
										+ mber.mberStat + '</td>';
								}
								html += '<td>';

								if (mber.mberRole != '관리자') {
									if (mber.mberStat == '비활성화') {
										html += '<button class="btn" data-mber-id="'
											+ mber.mberId
											+ '" onclick="changeStatus(this.getAttribute(\'data-mber-id\'), \'C0202\')">변경</button>';
									} else if (mber.mberStat == '활성화') {
										html += '<button class="btn" data-mber-id="'
											+ mber.mberId
											+ '" onclick="changeStatus(this.getAttribute(\'data-mber-id\'), \'C0201\')">변경</button>';
									}
								}
								html += '</td>';
								html += '</tr>';
							});
						// 회원 리스트 테이블 업데이트
						$('#mberTable tbody').html(html);
						updatePagination();
						$(".pagination").hide();
					},
					error: function() {
					 	 Swal.fire({
			                    title: '데이터를 불러오는데 실패했습니다.',
			                    icon: 'error',
			                    confirmButtonText: '확인',
			                    confirmButtonColor: '#14dbc8'
			                });
					}
				});
		}
		
		function updatePagination() {
			// 기존 페이지네이션 링크 지우기
			$(".pagination").empty();
			
			// totalPageBlock을 기반으로 페이지네이션 링크 추가
			for (var i = startPage; i <= endPage; i++) {
				var pageLink = $('<a class="page-link selpage">');
				pageLink.text(i);
				pageLink.attr('href', '/cs/mber/list/' + i);
				if (currentPage == i) {
					pageLink.addClass('active');
				}
				$(".pagination").append($('<li>').append(pageLink));
			}
		}

		document.getElementById("search-btn").addEventListener("click", function(event) {
			event.preventDefault(); // 기본 이벤트 취소 (페이지 새로고침 방지)

			var findType = document.getElementById("findType").value;
			var findKeyword = document.getElementById("findKeyword").value;
			
	
			if(!findKeyword) {
				loadMberData(currentPage);
			} else{
			searchMber(findType, findKeyword);
			}
		});

		function searchMber(findType, findKeyword) {

			$.ajax({
				type: 'GET',
				url: '/cs/mber/search-mber',
				data: {
					findType: findType,
					findKeyword: findKeyword,
					page: 1
				},
				dataType: 'json',
				success: function(data) {
					var html = '';
					if (data.length === 0) {
						// 검색 결과가 없는 경우 알림 표시
						html = '<tr><td colspan="12" class="text-center">검색 결과가 없습니다.</td></tr>';
					} else {
						data.forEach(function(mber, index) {
							var rownum = (currentPage - 1) * 10 + index + 1;
							html += '<tr>';
							html += '<td>' + rownum++ + '</td>';
							html += '<td>' + mber.mberRole + '</td>';
							html += '<td>' + mber.mberId + '</td>';
							html += '<td>' + mber.mberName + '</td>';
							html += '<td>' + mber.mberEmail + '</td>';
							html += '<td>' + mber.mberGenderCode + '</td>';
							if (mber.mberBirth == null) {
								html += '<td>-</td>';
							} else {
								html += '<td>' + mber.mberBirth + '</td>';
							}
							if (mber.mberPhone == null) {
								html += '<td>-</td>';
							} else {
								html += '<td>' + mber.mberPhone + '</td>';
							}
							html += '<td>' + mber.mberRegistDate + '</td>';
							if (mber.mberUpdateDate == null) {
								html += '<td>-</td>';
							} else {
								html += '<td>' + mber.mberUpdateDate + '</td>';
							}
							if (mber.mberStat == '비활성화') {
								html += '<td class="fw-bold text-danger">' + mber.mberStat + '</td>';
							} else {
								html += '<td class="fw-bold">' + mber.mberStat + '</td>';
							}
							html += '<td>';
							if (mber.mberRole != '관리자') {
								if (mber.mberStat == '비활성화') {
									html += '<button class="btn" id="stat-btn" data-mber-id="' + mber.mberId + '" onclick="changeStatus(this.getAttribute(\'data-mber-id\'), \'C0202\')">변경</button>';
								} else if (mber.mberStat == '활성화') {
									html += '<button class="btn" id="stat-btn" data-mber-id="' + mber.mberId + '" onclick="changeStatus(this.getAttribute(\'data-mber-id\'), \'C0201\')">변경</button>';
								}
							}
							html += '</td>';
							html += '</tr>';
						});
					}
					$('#mberTable tbody').html(html); // 검색 결과 업데이트
					
					$.ajax({
						type: 'GET',
						url: '/cs/mber/paging',
						data: {
							'findType': findType,
							'findKeyword': findKeyword,
							'page': 1
						},
						success: function(data) {
							$(".pagination").empty();
							$(".pagination").append(data);
							}
						})

				},
				error: function() {
				 	 Swal.fire({
		                    title: '검색에 실패했습니다.',
		                    icon: 'error',
		                    confirmButtonText: '확인',
		                    confirmButtonColor: '#14dbc8'
		                });
				}
			});
		}

		
		 function changeStatus(mberId, newStatus) {
			 Swal.fire({
                 title: '해당 계정 상태를 변경하시겠습니까?',
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonText: '상태 변경',
                 confirmButtonColor: '#e66767',
                 cancelButtonText: '취소',
                 reverseButtons: true
             }).then((result) => {
                 if (result.isConfirmed) {
                     Swal.fire({
                         title: '계정 상태 변경 완료',
                         text: '해당 계정 상태 변경 완료되었습니다. 변경되었는지 확인바랍니다.',
                         icon: 'success',
                         confirmButtonText: '확인',
                         confirmButtonColor: '#14dbc8',
                     }).then((result) => {
                         if (result.isConfirmed) {
                        		$.ajax({
                					type: 'POST',
                					url: '/cs/mber/change-stat',
                					data: {
                						mberId: mberId,
                						newStatus: newStatus
                					},
                					success: function(response) {
                						if (response.success) {
                							loadMberData(currentPage);
                						} else {
                						 	 Swal.fire({
                				                    title: '상태 변경 실패했습니다.',
                				                    icon: 'error',
                				                    confirmButtonText: '확인',
                				                    confirmButtonColor: '#14dbc8'
                				                });
                						}
                					},
                					error: function() {
                						 Swal.fire({
         				                    title: '서버 오류로 인해 상태 변경에 실패했습니다.',
         				                    icon: 'error',
         				                    confirmButtonText: '확인',
         				                    confirmButtonColor: '#14dbc8'
         				                });
                					}
                				});
                         }
                     });
                 } 
             });
			}
		 
		
	</script>
</body>
</html>