<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
<th:block th:replace="~{/include/new-admin-head :: newAdminHead}"></th:block>
<link rel="stylesheet" th:href="@{/css/mber/cmsMber.css}">
</head>
<body>
	<header th:insert="~{/include/admin-body-header :: adminNavBar}"></header>
	<div class="container mb-3 mt-5">
		<div class="content">
			<div class="row">
				<div class="col-md-12">

					<div id="mberTable"
						class="table-layout mber-table table table-group-divider">

						<div class="search my-3">
							<form name="findMber" onsubmit="searchMber(); return false;">
								<div class="row justify-content-center">
									<div class="col-md-2">
										<select name="findType" id="findType"
											class="form-control form-select mr-2">
											<option value="1">이름</option>
											<option value="2">아이디</option>
											<option value="3">이메일</option>
											<option value="4">전화번호</option>
										</select>
									</div>
									<div class="col-md-5">
										<div class="input-group">
											<input type="text" name="findKeyword" id="findKeyword"
												placeholder="검색어를 입력하세요" class="form-control mr-2">
											<button type="submit" class="btn" id="search-btn">
												<i class="fa-solid fa-magnifying-glass"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th class="serial">#</th>
									<th>계정구분</th>
									<th>아이디</th>
									<th>이름</th>
									<th>이메일</th>
									<th>성별</th>
									<th>생년월일</th>
									<th>전화번호</th>
									<th>가입일시</th>
									<th>수정일시</th>
									<th>계정상태</th>
									<th>상태수정</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation"
			class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item" th:if="${nowPageBlock>1}"><a
					class="page-link prepage" aria-label="Previous"> <span
						aria-hidden="true">&laquo;</span>
				</a></li>

				<li class="page-item"
					th:each="i: ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${i==nowPage}?active"><a
					class="page-link selpage" th:data-selpage="${i}">[[${i}]]</a></li>

				<li class="page-item" th:if="${nowPageBlock<totalPageBlock}"><a
					class="page-link nexpage" aria-label="Next"> <span
						aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>
	</div>
	<script>
		var currentPage = "[[${nowPage}]]";
		var startPage = "[[${startPage}]]";
		var endPage = "[[${endPage}]]";
		var totalPageBlock = "[[${totalPage}]]";
	</script>
	<script th:src="@{/js/mber/cms-mber.js}"></script>
</body>
</html>