<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{/include/header :: header}"></div>
	<link rel="stylesheet" th:href="@{/css/inqury/inquryDetail.css}"> 	
</head>
<body>
	<div class="container mb-3">
		<div class="inqry-no menu fw-bold">[[${inqry.inqryId}]]</div>
		<div class="inqry-header d-flex justify-content-between fw-bold">
			<div class="username">[[${inqry.inqryMberId}]]</div>
			<div class="title">[[${inqry.inqryTitle}]]</div>
			<div class="registdate">[[${inqry.inqryRegistDate}]]</div>
		</div>
		
		<div class="detail-cntnt">
			<div th:if="${inqry.inqryFileId} != null" class="text-center img-div">
				<img alt="" th:src="@{/img/photo/{image}(image=${inqry.inqryFileId})}">
			</div>
			<div class="inqry-cntnt text-start cntnt-div">
				<div class="cntnt">[[${inqry.inqryCntnt}]]</div>
			</div>
		</div>
		
		<div th:if="${session.userId} == ${inqry.inqryMberId}" class="d-flex btn-div" >
			<a th:href="@{/inqury/{page}(page=${session.nowPage})}" class="list-link btn">목록</a>
			<div class="btns">
				<a th:href="@{/inqury/update/{inqryId}(inqryId=${inqry.inqryId})}" class="btn me-2">수정</a>
				<form th:action="@{/inqury/delete/{id}(id=${inqry.inqryId})}" method="post">
					<input type="hidden" name="inqryId" th:value=${inqry.inqryId}>
					<input type="submit" class="btn delete" value="삭제">
				</form>
			</div>
		</div>
	</div>
</body>
</html>