<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{/include/header :: header}"></th:block>
    <link rel="stylesheet" th:href="@{/css/inqury/inquryDetail.css}">
    <link rel="stylesheet" href="/css/commu-nav.css">
</head>
<body>
<header th:replace="~{include/body-header :: userNavBar}"></header>

<div th:replace="~{/include/community-center :: inqry-nav}"></div>
<main>
    <div class="container mb-3">
        <!-- inqry 번호 -->
        <div class="inqry-no menu fw-bold">[[${inqry.inqryId}]]</div>

        <!-- inqry form -->
        <ul class="inqry-sub">

            <!-- 제목 -->
            <li class="inqry-sub-li">
                <div class="inqry-sub-cntnt label">
                    <label th:text=#{inqry.title}>제목</label>
                </div>
                <div class="inqry-sub-cntnt cntnt">
                    [[${inqry.inqryTitle}]]
                </div>
            </li>

            <!-- 글 정보 -->
            <li class="inqry-sub-li">
                <div>
                    <div class="inqry-sub-cntnt label">
                        <label th:text=#{writer}>작성자</label>
                    </div>
                    <div class="inqry-sub-cntnt cntnt" id="write">
                        [[${inqry.inqryMberId}]]
                    </div>
                </div>
            </li>
            
            <li class="inqry-sub-li">
                 <div>
                    <div class="inqry-sub-cntnt label">
                        <label th:text=#{write_date}>등록일시</label>
                    </div>
                    <div class="inqry-sub-cntnt ">
                        [[${inqry.inqryRegistDate}]]
                    </div>
                </div>
            </li>

            <!-- 내용 -->
            <li class="inqry-sub-li" style="height:300px">
                <div class="inqry-sub-cntnt label" style="height:300px;">
                    <label th:text=#{inqry.cntnt}>내용</label>
                </div>

                <div class="inqry-sub-cntnt cntnt" th:utext="${inqry.inqryCntnt}">
                </div>

            </li>

            <!-- 첨부파일 -->
            <li th:if="${inqry.inqryFileId}" class="inqry-sub-li">
                <div class="inqry-sub-cntnt label">
                    <label th:text=#{file}>첨부파일</label>
                </div>
                <div class="inqry-sub-cntnt cntnt">
                    <img alt="" th:src="@{/img/photo/{image}(image=${inqry.inqryFileId})}" id="inqry-img">
                </div>
            </li>

            <!-- 답글 -->
            <li th:if="${reply}" class="inqry-sub-li" style="height:300px; border-top: double 3px black;">
                <div class="inqry-sub-cntnt label" style="height:300px">
                    <label th:text=#{reply}>답변</label>
                </div>
                <div class="inqry-sub-cntnt cntnt" style="height:300px" th:utext="${reply.inqryCntnt}">
                </div>
            </li>

        </ul>

        <!-- 버튼 -->
        <div class="text-center position-relative">
            <a th:href="@{/inqury}" class="btn text-white" th:text=#{list}>목록</a>

            <div th:if="${inqry.inqryGroupOrd} == 0" class="position-absolute end-0 top-0">
                <div th:if="${#authentication.name} == ${inqry.inqryMberId}" class="btns d-flex">
                    <a th:href="@{/inqury/update/{inqryId}(inqryId=${inqry.inqryId})}" class="btn me-2 text-white"
                       th:text=#{edit}>수정</a>
                    <form id="userDelete" th:action="@{/inqury/delete/{id}(id=${inqry.inqryId})}" method="post">
                        <input type="hidden" name="inqryId" th:value=${inqry.inqryId}>
                        <input th:if="${inqry.inqryFileId}" type="hidden" name="inqryFileId"
                               th:value="${inqry.inqryFileId}">
                        <button type="submit" class="btn delete" value="삭제" th:text=#{delete}>삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{/include/body-footer :: userFooter}"></footer>
<script th:src="@{/js/inqury/inquryDelete.js}"></script>
</body>
</html>
