<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{/include/header :: header}"></div>
	<link rel="stylesheet" th:href="@{/css/inqury/inqury.css}">
	<link rel="stylesheet" href="/common.css">
</head>
<body>
	<div class="container">

		<div class="menu fw-bold">문의사항</div>
		<table class="table table-hover text-center table-group-divider">
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">등록일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="inqry : ${inqryList}" class="inqry-row" th:attr="data-inqry-id=${inqry.inqryId}">
					<td th:if="${inqry.inqryGroupOrd == 0}">[[${inqry.inqryId}]]</td>
					<td th:if="${inqry.inqryGroupOrd == 1}"></td>
					<td class="text-start pwd">
						<span th:if="inqry.inqryPwd" class="me-1">
							<i class="fa-solid fa-lock"></i>
						</span>
						<span class="inqry-title" th:text="${inqry.inqryTitle}"></span>
						<div class="password-form hidden">
							<form th:action="@{/pwdcheck}" method="post" class="d-flex">
							    <input type="hidden" name="inqryId" th:value="${inqry.inqryId}">
								<input type="password" class="password-input me-2 form-control" placeholder="비밀번호" name="inqryPwd">
								<input type="submit" value="확인" class="btn submit-btn">
							</form>
						    <div th:if="${error}" class="error-message">
        						<p th:text="${error}"></p>
    						</div>
						</div>
					</td>
					<td>[[${inqry.inqryMberId}]]</td>
					<td>[[${inqry.inqryRegistDate}]]</td>
				</tr>
			</tbody>
		</table>


		<a class="btn writeBtn" th:href="@{/inqury/insert}">글쓰기</a>
		
		<nav aria-label="Page navigation" class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item" th:if="${nowPageBlock>1}">
					<a class="page-link" th:href="@{/templates/user/inqury/__${startPage-1}__}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li class="page-item" th:each="i: ${#numbers.sequence(startPage, endPage)}" th:classappend="${i==nowPage}?active">
					<a class="page-link" th:href="@{/templates/user/inqury/__${i}__}">[[${i}]]</a>
				</li>

				<li class="page-item" th:if="${nowPageBlock<totalPageBlock}">
					<a class="page-link" th:href="@{/templates/user/inqury/__${endPage+1}__}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".inqry-row").click(function() {
            var passwordForm = $(this).find(".password-form");
            var inqryId = $(this).data("inqry-id");
			
            $(".password-form").addClass("hidden");
            passwordForm.toggleClass("hidden");
        });

        $(".submit-btn").click(function(e) {
            e.preventDefault();
            var passwordForm = $(this).closest(".password-form");
            var inqryId = passwordForm.find("input[name='inqryId']").val();
            var enteredPwd = passwordForm.find(".password-input").val();
            
            if (enteredPwd === "") {
				alert("비밀번호를 입력하세요.");
				return;
			}			

            $.ajax({
                url: "/inqury/check-password",
                method: "post",
                data: {
                    inqryId: inqryId,
                    enteredPwd: enteredPwd
                },
                success: function(response) {
                    if (response === "success") {
                        var inqryId = passwordForm.closest(".inqry-row").data("inqry-id");
                        window.location.href = "/inqury/detail/" + inqryId;
                    } else {
                        alert("비밀번호가 일치하지 않습니다.");
                    }
                },
                error: function() {
                	alert("비밀번호가 일치하지 않습니다.");
                }
            });
        });
    });
</script>
</html>
