<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="~{/include/header :: header}">
	</th:block>
	<link rel="stylesheet" th:href="@{/css/inqury/main.css}">
	<link rel="stylesheet" th:href="@{/css/inqury/inqury.css}">
	<link rel="stylesheet" href="/css/commu-nav.css">
</head>
<body>
	<header th:replace="~{include/body-header :: userNavBar}"></header>
	
	<div th:replace="~{/include/community-center :: inqry-nav}"></div>
	
	<div class="layout d-flex justify-content-center my-5"></div>
	
	<footer th:insert="~{/include/body-footer :: userFooter}"></footer>	
	
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script th:inline="javascript">
		$(document).ready(function() {			
			let message = `[[${session.message}]]`;
			
			if (message != 'null') {
				Swal.fire({
					   title: '비밀번호가 일치하지 않습니다.',
					   icon: 'error',
					   confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
					})
			}


			$.ajax({
				url: "/inqury/" + 1,
				type: "GET",
				success: function(data) {
				var layout = $(".layout");
				layout.append(data);
				}
			})			
			
		})
	</script>
	
</body>
</html>