<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{/include/header :: header}"></div>
	<link rel="stylesheet" th:href="@{/css/inqury/inqury.css}">
	<link rel="stylesheet" href="/common.css">
</head>
<body>
	<header th:replace="~{include/body-header :: userNavBar}"></header>
	
	<div class="layout"></div>
	
	
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$.ajax({
				url: "/inqury/" + 1,
				type: "GET",
				success: function(data) {
					var layout = $(".layout");
					layout.append(data);
				}
			})
		})
		</script>
</body>
</html>