<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{/include/header :: header}"></th:block>
	<link rel="stylesheet" th:href="@{/css/inqury/inquryWrite.css}">
</head>
<body>

	<header th:replace="~{include/body-header :: userNavBar}"></header>
	
	<div class="container">
		<div class="menu fw-bold">문의사항 글 생성</div>
		<form th:action="@{/inqury/insert}" method="post" enctype="multipart/form-data" class="inqry-form">
			<ul class=tb-lst>
				<li class="tit-row">
					<div class="inqry-label">
						<label for="title">제목</label>
					</div>
					<div class="inqry-cntnt">
						<input type="text" id="title" name="inqryTitle" placeholder="제목을 입력하세요.">
					</div>
				</li>
				
				<li class="tit-row">
					<div class="inqry-label">
						<label for="cntnt">내용</label>
					</div>
					<div class="inqry-cntnt">
						<textarea id="cntnt" name="inqryCntnt"></textarea>
					</div>
				</li>
				
				<li class="tit-row img-li">
					<div class="inqry-label">
						<label class="control-label col-sm-2" for="file">FILE</label>
					</div>
				    <div class="inqry-cntnt">
						<input type="file" id="i_file" name="file">
					</div>
				</li>
				
				<li class="tit-row">
					<div class="inqry-label">
						<label for="pwd">비밀번호</label>
					</div>
					<div class="inqry-cntnt">
						<input type="password" id="pwd" name="inqryPwd">
					</div>
				</li>
			</ul>
			
			<div class="d-flex justify-content-center">
				<input type="hidden" name="inqryId" th:value="${inqry.inqryId}">
				<a type="reset" class="btn me-2" th:href="@{/inqury/{page}(page=${session.nowPage})}">취소</a>
				<input type="submit" class="btn insertBtn" value="글 쓰기">
			</div>
		</form>
	</div>
</body>
</html>